<div class="row justify-content-center">
    <div class="col-8">
        <form (ngSubmit)="save()" [formGroup]="editForm" name="editForm" novalidate role="form">
            <h2 id="jhi-recipe-tag-heading" jhiTranslate="shoppedApp.recipeTag.home.createOrEditLabel">Create or edit a
                Recipe Tag</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div [hidden]="!editForm.get('id')!.value" class="form-group">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input class="form-control" formControlName="id" id="id" name="id" readonly type="text"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_name"
                           jhiTranslate="shoppedApp.recipeTag.name">Name</label>
                    <input class="form-control" formControlName="name" id="field_name" name="name"
                           type="text"/>
                    <div
                        *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <small *ngIf="editForm.get('name')?.errors?.required"
                               class="form-text text-danger" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_description"
                           jhiTranslate="shoppedApp.recipeTag.description">Description</label>
                    <input class="form-control" formControlName="description" id="field_description" name="description"
                           type="text"/>
                    <div
                        *ngIf="editForm.get('description')!.invalid && (editForm.get('description')!.dirty || editForm.get('description')!.touched)">
                        <small *ngIf="editForm.get('description')?.errors?.required"
                               class="form-text text-danger"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_status" jhiTranslate="shoppedApp.recipeTag.status">Status</label>
                    <select class="form-control" formControlName="status" id="field_status" name="status">
                        <option value="ACTIVE">{{ 'shoppedApp.Status.ACTIVE' | translate }}</option>
                        <option value="INACTIVE">{{ 'shoppedApp.Status.INACTIVE' | translate }}</option>
                        <option value="BLOCKED">{{ 'shoppedApp.Status.BLOCKED' | translate }}</option>
                        <option value="PENDING">{{ 'shoppedApp.Status.PENDING' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_type"
                           jhiTranslate="shoppedApp.recipeTag.type">Type</label>
                    <select class="form-control" formControlName="typeId" id="field_type" name="type">
                        <option *ngIf="!editForm.get('typeId')!.value" [ngValue]="null" selected></option>
                        <option *ngFor="let tagTypeOption of tagtypes; trackBy: trackById" [ngValue]="tagTypeOption.id">
                            {{ tagTypeOption.name }}
                        </option>
                    </select>
                </div>
                <div
                    *ngIf="editForm.get('typeId')!.invalid && (editForm.get('typeId')!.dirty || editForm.get('typeId')!.touched)">
                    <small *ngIf="editForm.get('typeId')?.errors?.required"
                           class="form-text text-danger" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div>
                <button (click)="previousState()" class="btn btn-secondary" id="cancel-save" type="button">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button [disabled]="editForm.invalid || isSaving" class="btn btn-primary" id="save-entity"
                        type="submit">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
