<div class="row justify-content-center">
    <div class="col-8">
        <form (ngSubmit)="save()" [formGroup]="editForm" name="editForm" novalidate role="form">
            <h2 id="jhi-recipe-tag-heading">{{ editForm.get('id')!.value !== undefined ? "Edit" : "Create" }} Recipe
                Tag</h2>

            <jhi-alert></jhi-alert>

            <div>
                <mat-form-field [hidden]="!editForm.get('id')!.value" appearance="fill" class="form-group w-100">
                    <mat-label jhiTranslate="global.field.id"></mat-label>
                    <input formControlName="id" id="id" matInput name="id" readonly type="text"/>
                </mat-form-field>

                <mat-form-field appearance="fill" class="form-group w-100">
                    <mat-label>Name*</mat-label>
                    <input formControlName="name" id="field_name" matInput name="name" type="text"/>
                    <mat-error
                        *ngIf="(editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)) && editForm.get('name')?.errors?.required"
                        jhiTranslate="entity.validation.required">
                        This field is required.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="form-group w-100">
                    <mat-label>Description*</mat-label>
                    <input formControlName="description" id="field_description" matInput name="description"
                           type="text"/>
                    <mat-error
                        *ngIf="(editForm.get('description')!.invalid && (editForm.get('description')!.dirty || editForm.get('description')!.touched)) && editForm.get('description')?.errors?.required"
                        jhiTranslate="entity.validation.required">
                        This field is required.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="form-group w-100">
                    <mat-label>Tag Type*</mat-label>
                    <mat-select formControlName="typeId" id="field_type" name="type">
                        <mat-option *ngFor="let typeOption of tagtypes; trackBy: trackById" [value]="typeOption.id">
                            {{typeOption.name }}
                        </mat-option>
                    </mat-select>
                    <mat-error
                        *ngIf="editForm.get('typeId')!.invalid && (editForm.get('typeId')!.dirty || editForm.get('typeId')!.touched)"
                        jhiTranslate="entity.validation.required">
                        This field is required.
                    </mat-error>
                </mat-form-field>
            </div>

            <div>
                <button (click)="previousState()" class="text-white" id="cancel-save" jhiMaterialColor="secondary"
                        mat-raised-button type="button">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button [disabled]="editForm.invalid || isSaving" class="text-white" id="save-entity"
                        jhiMaterialColor="primary" mat-raised-button type="submit">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
