<form *ngIf="recipe" name="deleteForm" (ngSubmit)="confirmDelete(recipe!, true)">
    <div class="modal-header" style="border: none">
        <h4 class="modal-title">Please confirm your delete action</h4>

        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="cancel()">&times;
        </button>
    </div >

    <div class="modal-body" style="border: none">
        <p id="jhi-delete-recipe-heading" >Do you want to delete recipe {{ recipe.name }}?</p>
    </div>

    <div class="modal-footer" style="border: none">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
            <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button id="jhi-confirm-delete-recipe" type="submit" class="btn btn-danger" style="background-color:#ff6e4e">
            <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Delete</span>
        </button>
    </div>
</form>
