.row-no-overflow {
  overflow-y: hidden;
}

.row-overflow {
  overflow-y: auto;
}

.recipe-list {
  max-height: 600px;
}

.img-recipe-list {
  height: 150px;
  width: 150px;
}

.img-recipe-details {
  height: 120px;
  width: 120px;
}

.description {
  width: 210px;
  min-height: 50px;
}

//

.recipe-card-element-right {
  text-align: right;
}

.recipe-card-content {
  padding: 16px;
}

.recipe-card-content > mat-card {
  width: 200px;
}

.recipe-card-title {
  height: 20px;
  width: auto;
}

.recipe-card-icon-portion {
  height: 15px;
  width: 15px;
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  background: url('../../../content/images/portion-icon.png') no-repeat center center;
  background-size: contain;
  margin-top: 2px;
  margin-right: 5px;
}

.recipe-card-icon-duration {
  height: 15px;
  width: 15px;
  display: inline-block;
  vertical-align: middle;
  background: url('../../../content/images/duration-icon.png') no-repeat center center;
  background-size: contain;
  margin-top: 2px;
  margin-left: 10px;
  margin-right: 5px;
}

.recipe-card-picture {
  height: 150px;
  width: auto;
  display: inline-block;
  vertical-align: middle;
  background-size: cover;
  background: url('../../../content/images/placeholder-square.png') no-repeat center center;
  margin-bottom: 3px;
}

.recipe-card-picture img {
  height: 150px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
