<div class="row justify-content-center">
    <div class="col-10">
        <button type="submit" class="btn btn-secondary" (click)="previousState()">
            <fa-icon icon="arrow-left"></fa-icon>
        </button>
    </div>
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-recipe-heading" jhiTranslate="shoppedApp.recipe.home.createOrEditLabel">
                Create your own recipe</h2>
            <br>
            <div>

                <jhi-alert-error></jhi-alert-error>

                <jhi-alert></jhi-alert>

                <mat-form-field [hidden]="true" appearance="fill" class="form-group w-100">
                    <mat-label [hidden]="true"  jhiTranslate="global.field.id"></mat-label>
                    <input [hidden]="true" formControlName="id" id="id" matInput name="id" readonly type="text"/>
                </mat-form-field>

                <mat-form-field appearance="fill" class="form-group w-100">
                    <mat-label>Name</mat-label>
                    <input formControlName="name" id="field_name" matInput name="name"
                           type="text"/>
                    <mat-error
                        *ngIf="(editForm.get('name')!.invalid && (editForm.get('name')!.dirty ||
                         editForm.get('name')!.touched)) && editForm.get('name')?.errors?.required"
                        jhiTranslate="entity.validation.required">
                        This field is required.
                    </mat-error>
                </mat-form-field>

                <div class="form-group">
                    <label class="form-control-label"
                           for=""></label>
                    <div>
                        <img
                            [src]="'data:' + editForm.get('imageContentType')!.value + ';base64,' + editForm.get('image')!.value"
                            style="max-height: 100px;" *ngIf="editForm.get('image')!.value" alt="award image"/>
                        <div *ngIf="!editForm.get('image')!.value">
                            <input type="file" id="file_image" (change)="setFileData($event, 'image', true)"
                                   accept="image/*" jhiTranslate="entity.action.addimage" class="inputfile"/>
                            <label for="file_image">
                                <a type="button" mat-flat-button jhiMaterialColor="primary">
                                    <fa-icon icon="image"></fa-icon>
                                    Add Image
                                </a>
                            </label>
                        </div>
                        <div *ngIf="editForm.get('image')!.value" class="form-text text-danger clearfix">

                            <button type="button" (click)="clearInputImage('image', 'imageContentType', 'file_image')"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>

                    </div>
                </div>


                <mat-form-field appearance="fill" class="form-group w-100">
                    <mat-label>Number of servings:</mat-label>
                    <input formControlName="portion" id="field_portion" matInput name="portion"
                           type="number"/>
                    <mat-error
                        *ngIf="(editForm.get('portion')!.invalid && (editForm.get('portion')!.dirty ||
                                editForm.get('portion')!.touched)) && editForm.get('portion')?.errors?.required"
                        jhiTranslate="entity.validation.required">
                        This field is required.
                    </mat-error>
                    <mat-error
                        *ngIf="(editForm.get('portion')!.invalid && (editForm.get('portion')!.dirty ||
                                editForm.get('portion')!.touched)) && editForm.get('portion')?.errors?.min"
                        jhiTranslate="entity.validation.min"
                        [translateValues]="{ min: 1 }">
                        This field should be at least 1.
                    </mat-error>
                    <mat-error
                        *ngIf="(editForm.get('portion')!.invalid && (editForm.get('portion')!.dirty ||
                                editForm.get('portion')!.touched)) && !editForm.get('portion')?.errors?.number"
                        jhiTranslate="entity.validation.number">
                        This field should be a number.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="form-group w-100">
                    <mat-label>Cooking time (minutes):</mat-label>
                    <input formControlName="duration" id="field_duration" matInput name="duration"
                           type="number"/>
                    <mat-error
                        *ngIf="(editForm.get('duration')!.invalid && (editForm.get('duration')!.dirty ||
                                editForm.get('duration')!.touched)) && editForm.get('duration')?.errors?.required"
                        jhiTranslate="entity.validation.required">
                        This field is required.
                    </mat-error>
                    <mat-error
                        *ngIf="(editForm.get('duration')!.invalid && (editForm.get('duration')!.dirty ||
                                editForm.get('duration')!.touched)) && editForm.get('duration')?.errors?.min"
                        jhiTranslate="entity.validation.min"
                        [translateValues]="{ min: 1 }">
                        This field should be at least 1.
                    </mat-error>
                    <mat-error
                        *ngIf="(editForm.get('duration')!.invalid && (editForm.get('duration')!.dirty ||
                                editForm.get('duration')!.touched)) && !editForm.get('duration')?.errors?.number"
                        jhiTranslate="entity.validation.number">
                        This field should be a number.
                    </mat-error>
                </mat-form-field>


                <jhi-ingredient-picker #ingredientPk ></jhi-ingredient-picker>
                <br>
                
                <mat-form-field appearance="fill" class="form-group w-100">
                    <mat-label>Recipe instructions:</mat-label>

                    <textarea formControlName="description" id="field_description" matInput name="description"
                    type="text" style="height: 100px"></textarea>

                    <mat-error
                        *ngIf="(editForm.get('description')!.invalid && (editForm.get('description')!.dirty ||
                                editForm.get('description')!.touched)) && editForm.get('description')?.errors?.minlength"
                        [translateValues]="{ min: 1 }" jhiTranslate="entity.validation.minlength">

                    </mat-error>
                    <mat-error *ngIf="(editForm.get('description')!.invalid && (editForm.get('description')!.dirty ||
                                editForm.get('description')!.touched)) && editForm.get('description')?.errors?.maxlength"
                               [translateValues]="{ max: 500 }"
                               jhiTranslate="entity.validation.maxlength">
                        This field cannot be longer than 500 characters.
                    </mat-error>
                </mat-form-field>


                <jhi-recipe-tag-picker #recipeTagPk ></jhi-recipe-tag-picker>
                <br>

                <div [hidden]="true" class="form-group">
                    <label class="form-control-label" jhiTranslate="shoppedApp.recipe.creation"
                           for="field_creation">Creation</label>
                    <div class="d-flex">
                        <input id="field_creation" type="datetime-local" class="form-control" name="creation"
                               formControlName="creation"
                               placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div
                        *ngIf="editForm.get('creation')!.invalid && (editForm.get('creation')!.dirty || editForm.get('creation')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('creation')?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.get('creation')?.errors?.ZonedDateTimelocal"
                               jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <mat-form-field [hidden]="true" appearance="fill" class="form-group w-100">
                    <mat-label jhiTranslate="shoppedApp.post.status"></mat-label>
                    <mat-select [(ngModel)]="statusOptions[0]" formControlName="status" id="status"
                                name="status">
                        <mat-option *ngFor="let status of statusOptions" [value]="status">
                            {{status | capitalize }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </div>

            <hr>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving"
                        class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
