<div class="row justify-content-center">
    <div class="col-10">
        <button (click)="previousState()" class="btn btn-secondary" type="submit">
            <fa-icon icon="arrow-left"></fa-icon>
        </button>
    </div>
    <div class="col-8">

        <div *ngIf="recipe">
            <mat-card>
                <mat-card-content *ngIf="recipe">
                    <div style="height: auto;">
                        <div
                            [ngStyle.gt-sm]="{ 'max-width': '900px' }"
                            [ngStyle]="{ 'max-width': 'auto' }"
                            gdAreas.gt-sm="recipePicture recipePicture recipePicture |
                                           userInfo  userInfo userInfo  |
                                           caption caption caption |
                                           ingredientsTitle ingredientsTitle portions |
                                           ingredientsList ingredientsList ingredientsList |
                                           addToCart addToCart addToCart |
                                           instructionsTitle instructionsTitle duration |
                                           instructionsList instructionsList instructionsList |
                                           exportButtons exportButtons exportButtons |
                                           tagsList tagsList tagsList"
                            gdAreas.sm="recipePicture recipePicture |
                                        userInfo userInfo |
                                        caption caption |
                                        ingredientsTitle portions |
                                        ingredientsList ingredientsList |
                                        addToCart addToCart |
                                        instructionsTitle duration|
                                        instructionsList instructionsList |
                                        exportButtons exportButtons |
                                        tagsList tagsList"
                            gdAreas.xs="recipePicture | userInfo |
                                        caption | portions | ingredientsTitle| ingredientsList | addToCart | duration |
                                        instructionsTitle | instructionsList | exportButtons | tagsList"
                            gdColumns.gt-sm="200px auto 200px"
                            gdColumns.sm="50%!"
                            gdColumns.xs="none"
                            gdGap="1em"
                            gdGap.gt-sm="20px">

                            <div class="blocks-1 recipe-picture" gdArea="recipePicture">
                                <img *ngIf="recipe.image"
                                     [src]="'data:' + recipe.imageContentType + ';base64,' + recipe.image"
                                     alt="recipe image"
                                     class="recipe-image"/>
                            </div>

                            <div class="blocks-4 recipe-element-center" gdArea="userInfo">
                                <dd> By {{ recipe.userLogin }} <br/></dd>
                                <dd><span>{{ recipe.creation | date:"mediumDate" }}</span></dd>
                            </div>

                            <div class="blocks-5 recipe-element-center" gdArea="caption">
                                <dd>
                                    <div *ngIf="recipe.id">
                                        <h2><b>{{ recipe.name }}</b></h2>
                                    </div>
                                </dd>
                            </div>

                            <div class="blocks-6 recipe-element-left recipe-subtitle" gdArea="ingredientsTitle">
                                Ingredients:
                            </div>

                            <div class="blocks-7 recipe-element-right" gdArea="portions">
                                <span class="recipe-icon-portion"></span> {{recipe.portion}}
                            </div>

                            <div class="blocks-8 recipe-element-center" gdArea="ingredientsList">
                                ingredients list
                            </div>

                            <div class="blocks-9 recipe-element-center" gdArea="addToCart">
                                <button class="recipe-cart-button" type="submit">
                                    <span class="recipe-icon-cart" style="background-color:#fea201"></span> ADD TO
                                    SHOPPING CART
                                </button>
                            </div>

                            <div class="blocks-10 recipe-element-left recipe-subtitle" gdArea="instructionsTitle">
                                Instructions:
                            </div>

                            <div class="blocks-11 recipe-element-right" gdArea="duration">
                                <span class="recipe-icon-duration"></span> {{recipe.duration}}
                            </div>

                            <div class="blocks-12 recipe-element-center recipe-instructions" gdArea="instructionsList">
                                {{ recipe.description }}
                            </div>

                            <div class="blocks-13 recipe-element-right" gdArea="exportButtons">
                                <button class="recipe-save-buttons" type="submit">
                                    <span class="recipe-icon-email"></span> Email
                                </button>
                                <button class="recipe-save-buttons" type="submit">
                                    <span class="recipe-icon-pdf"></span> PDF
                                </button>
                            </div>

                            <div class="blocks-15 recipe-element-left recipe-subtitle" gdArea="tagsList">
                                Tags:
                                <br>
                                <hr>
                            </div>

                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
