.row-no-overflow {
  overflow-y: hidden;
}

.row-overflow {
  overflow-y: auto;
}

.recipe-list {
  max-height: 600px;
}

.img-recipe-list {
  height: 150px;
  width: 150px;
}

.img-recipe-details {
  height: 120px;
  width: 120px;
}

.description {
  width: 210px;
  min-height: 50px;
}
