<h2 mat-dialog-title>Buy cookies</h2>
<mat-divider></mat-divider>
<mat-dialog-content class="mat-typography">
    <mat-horizontal-stepper [linear]=false class="h-auto" #stepper>
        <mat-step [stepControl]="firstFormGroup" label="Available Bundles">
            <form [formGroup]="firstFormGroup" *ngIf="data.length > 0">
                <div class="content mt-3" fxLayout="row wrap" fxLayoutGap="16px grid">
                    <div [fxFlex]="(100/3) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let item of data">
                        <mat-card class="mat-elevation-z4 text-center card" >
                            <mat-card-header class="d-flex justify-content-center" align="center">
                                <mat-card-title class="header">{{item.name}}</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <span class="align-middle">
                                    {{(item.cookieAmount||0) * 0.75}} <fa-icon icon="image"></fa-icon>
                                </span>
                                <div class="block"></div>
                                <span class="align-middle badge badge-primary text-10">
                                    {{(item.cookieAmount||0) * 0.25}} bonus
                                </span>
                            </mat-card-content>
                            <mat-card-actions class="align-middle mb-0">
                                <button mat-raised-button matStepperNext jhiMaterialColor="primary"
                                        (click)="selectBundle(item)">$ {{item.cost}}</button>
                            </mat-card-actions>
                            <div class="d-none">
                                <input type="text" value="{{item.id}} required">
                            </div>
                        </mat-card>
                    </div>
                </div>
                <div *ngIf="data.length === 0">
                    We are sorry, they are currently no available bundles.
                </div>
                <mat-divider class="mt-3"></mat-divider>
                <mat-dialog-actions align="end">
                    <button mat-button [mat-dialog-close]>Cancel</button>
                </mat-dialog-actions>
            </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup" label="Order Details">
            <form [formGroup]="secondFormGroup">
                <mat-grid-list cols="3" rowHeight="1:2" *ngIf="bundle.cookieAmount">
                    <mat-grid-tile [colspan]="1" class="tile">
                        <mat-card class="mat-elevation-z4 text-center w-10 mr-2" >
                            <mat-card-header class="d-flex justify-content-center" align="center">
                                <mat-card-title class="">Order Details</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <span class="align-middle">
                                    Current: {{cookie.amount||0}}
                                </span> <br>
                                <div class="block"></div>
                                <span class="align-middle badge badge-primary text-10">
                                    Buying: {{bundle.cookieAmount||0}} bonus
                                </span> <br>
                                <span class="align-middle block">
                                    New Balance: {{(cookie.amount||0) + (bundle.cookieAmount || 0) }}
                                </span>
                            </mat-card-content>
                            <mat-card-actions class="align-middle">
                                <button mat-button jhiMaterialColor="primary">Total: ${{bundle.cost || 0}}</button>
                            </mat-card-actions>
                        </mat-card>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="2" class="tile">
                        <div class="row p-4">
                        <p>All purchases shall be charged in USD. Corresponding prices
                        are calculated using foreign exchange rates. We assume no liability
                        for any pricing discrepancies or claims arising out of fluctuations
                        in foreign exchange rates.</p>

                        <p>Please note that, depending on the policies of your banking institution,
                        an aditional foreign transaction fee may be imposed upon competion of the
                        purchase.</p>
                            <div align="right" class="w-100">
                                <button mat-button matStepperPrevious>Back</button>
                                <button mat-button matStepperNext>Next</button>
                            </div>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
                <div *ngIf="!bundle.cookieAmount">
                    No bundle selected, please pick a bundle
                </div>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <div *ngIf="bundleId !== 0" align="center">
                <jhi-check-out [price]="bundle.cost" [cookies]="bundle.cookieAmount" [userId]="account!.id" *ngIf="bundle"></jhi-check-out>
            </div>

            <p *ngIf="bundleId === 0">No bundle found</p>
            <mat-dialog-actions align="end">
                <button mat-button [mat-dialog-close]>Cancel</button>
            </mat-dialog-actions>
        </mat-step>
    </mat-horizontal-stepper>
</mat-dialog-content>
