<div fxFlex="100%">
    <mat-card-content>
        <h3>Top Posts</h3>
        <mat-list>
            <div *ngFor="let top of bites">
                <hr>
                <a [routerLink]="['/post', top.postId, 'view']">
                    <mat-list-item style="height: auto">
                        <div>
                            <div>
                                <strong>Bite:{{top.id}}</strong>
                            </div>
                            <div>
                                <strong>Post:{{top.postId}}</strong>
                            </div>
                        </div>
                    </mat-list-item>
                </a>
            </div>
        </mat-list>
        <mat-card-content>
</div>
