<div>
    <h2 id="page-heading">
        <span jhiTranslate="shoppedApp.unit.home.title">Units</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-unit" [routerLink]="['/unit/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="shoppedApp.unit.home.createLabel">
            Create a new Unit
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="units?.length === 0">
        <span jhiTranslate="shoppedApp.unit.home.notFound">No units found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="units && units.length > 0">
        <jhi-unit-table [data]="units" [managementComponent]="this"></jhi-unit-table>
    </div>
</div>
