<mat-list>
    <mat-list-item *ngFor="let recipe of recipeList; let i = index">
        <mat-icon color="primary" matListIcon>fastfood</mat-icon>
        <div mat-line>{{ recipe.recipeName }}</div>
        <button (click)="delete(i)" mat-icon-button>
            <mat-icon color="warn">delete</mat-icon>
        </button>
        <button [routerLink]="['/recipe', recipe.recipeId, 'view']" mat-icon-button>
            <mat-icon color="primary">launch</mat-icon>
        </button>
    </mat-list-item>
</mat-list>
