<div class="modal-header">
    <h4 class="modal-title" jhiTranslate="entity.delete.title">Confirm {{ collection ? 'update':'create' }} operation</h4>

    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            (click)="cancel()">&times;</button>
</div>
<div class="modal-body">
    <div class="col-10">

        <div *ngIf="errorData">
            <div class="alert alert-warning mt-4" id="no-result">
                <span>No collections found</span>
            </div>
        </div>

        <form name="editForm" role="form" novalidate *ngIf="!errorData" (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-collection-heading">
                {{ collection?.id ? 'Update':'Create' }} a Collection
            </h2>

            <div class="mt-4">
                <jhi-alert-error></jhi-alert-error>

                <mat-form-field class="form-group w-100" appearance="fill" [hidden]="true">
                    <mat-label>ID</mat-label>
                    <input matInput type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </mat-form-field>

                <mat-form-field class="form-group w-100" appearance="fill">
                    <mat-label>Name</mat-label>
                    <input matInput type="text" name="name" id="field_name"
                           formControlName="name"/>
                    <mat-error *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="form-group w-100" appearance="fill">
                    <mat-label>Description</mat-label>
                    <input matInput type="text" name="description" id="field_description"
                           formControlName="description"/>
                    <mat-error *ngIf="editForm.get('description')!.invalid && (editForm.get('description')!.dirty || editForm.get('description')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('description')?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </mat-error>
                </mat-form-field>
                <div class="form-group">
                    <div>
                        <img
                            [src]="'data:' + editForm.get('imageContentType')!.value + ';base64,' + editForm.get('image')!.value"
                            style="max-height: 100px;" *ngIf="editForm.get('image')!.value" alt="userProfile image"/>
                        <div *ngIf="!editForm.get('image')!.value">
                            <input type="file" id="file_image" (change)="setFileData($event, 'image', true)"
                                   accept="image/*" jhiTranslate="entity.action.addimage" class="inputfile"/>
                            <label for="file_image">
                                <a type="button" class="text-white" mat-flat-button jhiMaterialColor="primary">
                                    <fa-icon icon="image"></fa-icon>
                                    Add Image
                                </a>
                            </label>
                        </div>
                        <div *ngIf="editForm.get('image')!.value" class="form-text clearfix">
                            <span *ngIf="byteSizeNumber(editForm.get('image')!.value) >= 1000000" class="pull-left text-danger">
                                Image size should be smaller
                            </span>

                            <button type="button"
                                    (click)="clearInputImage(
                                    'image', 'imageContentType', 'file_image')"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="my-3">
                <button type="button" class="text-white" mat-flat-button jhiMaterialColor="secondary" id="cancel-save"  data-dismiss="modal" (click)="cancel()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <span class="mx-2"></span>
                <button class="text-white" mat-flat-button jhiMaterialColor="warn" type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
