<div>
    <h2 id="page-heading">
        <span>My Collections</span>
        <button [matTooltipHideDelay]="0"
                [matTooltipShowDelay]="1000"
                (click)="create()"
                aria-label="Create a new collection"
                class="float-right jh-create-entity create-recipe-tag mx-4 mb-3"
                jhiMaterialColor="accent"
                mat-mini-fab
                matTooltip="Create a new collection">
            <mat-icon>add</mat-icon>
        </button>
    </h2>

    <div class="my-1" style="min-height: 80px">
        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>
    </div>

    <div *ngIf="requesting"
         class="w-100" fxLayout="row" fxLayoutAlign="space-around center">
        <mat-spinner diameter="50" strokeWidth="5"></mat-spinner>
    </div>

    <div *ngIf="collections && collections.length > 0">
        <div class="mt-3" fxLayout fxLayoutAlign="space-between center">
            <mat-form-field appearance="fill" fxFlex="100%">
                <mat-label>
                    Search
                </mat-label>
                <mat-icon matSuffix>search</mat-icon>
                <input [(ngModel)]="searchText"
                       matInput
                       placeholder="Type a text filter"
                       type="text">
            </mat-form-field>
        </div>
        <div class="my-3">
            <button mat-flat-button (click)="orderAsc = !orderAsc">
                Sort
                <mat-icon matSuffix>{{sort_icon}}</mat-icon>
            </button>
        </div>
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-evenly" class="row card-group">
            <div class="col-md-12 col-lg-4 col-xl-4" *ngFor="let collection of collections | collectionPipe:searchText
| orderBy: 'id':orderAsc">
<!--                |slice:((paginator.pageIndex)*paginator.pageSize):((paginator.pageIndex+1)*paginator.pageSize)-->
                <mat-card class="mat-elevation-z4 col-sm-12 mt-4 text-center">
                    <mat-card-header>
                        <mat-card-title class="collection-card-title">
                            {{ collection.name }}
                        </mat-card-title>
                        <div class="collection-card-disable-button">
                            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="view(collection)">
                                    <mat-icon>arrow_forward</mat-icon>
                                    <span>See recipes</span>
                                </button>
                                <button mat-menu-item (click)="edit(collection)">
                                    <mat-icon>create</mat-icon>
                                    <span>Edit</span>
                                </button>
                                <button mat-menu-item type="submit" (click)="delete(collection)">
                                    <mat-icon>delete</mat-icon>
                                    <span>Delete</span>
                                </button>
                            </mat-menu>
                        </div>
                    </mat-card-header>

                    <a (click)="view(collection)">
                        <div *ngIf="collection.image">
                            <div class="collection-card-picture">
                                <img [src]="'data:' + collection.imageContentType + ';base64,' + collection.image"
                                     alt="card image" class="rounded-circle"/>
                            </div>
                        </div>
                        <div *ngIf="!collection.image">
                            <div class="collection-card-picture">
                                <img alt="Shopped logo" class="rounded-circle"
                                     src='../../../content/images/placeholder-image.png' />
                            </div>
                        </div>
                    </a>
                    <mat-card-content>
                        <div class="my-3">
                            {{ collection.description }}
                        </div>
                        <div class="recipe-card-element-right">
                            <span class="collection-card-icon-created"></span>
                            {{collection.created |  date:'dd/MM/yy HH:mm'}}
                        </div>
                    </mat-card-content>

                </mat-card>
            </div>
        </div>
<!--        <mat-paginator #paginator [length]="totalItems"-->
<!--                       [pageSize]="itemsPerPage"-->
<!--                       [pageSizeOptions]="[5, 10, 25, 100]"-->
<!--                       (page)="pageEvent = $event; transition();">-->
<!--        </mat-paginator>-->
    </div>

    <div class="alert alert-warning mt-4" id="no-result"
         *ngIf="collections?.length === 0 || !collections && !requesting">
        <span>No collections found</span>
    </div>
</div>
