<div>
    <h2 id="page-heading">
        <span jhiTranslate="shoppedApp.recipeHasIngredient.home.title">Recipe Has Ingredients</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-recipe-has-ingredient" [routerLink]="['/recipe-has-ingredient/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="shoppedApp.recipeHasIngredient.home.createLabel">
            Create a new Recipe Has Ingredient
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="recipeHasIngredients?.length === 0">
        <span jhiTranslate="shoppedApp.recipeHasIngredient.home.notFound">No recipeHasIngredients found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="recipeHasIngredients && recipeHasIngredients.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="amount"><span jhiTranslate="shoppedApp.recipeHasIngredient.amount">Amount</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="status"><span jhiTranslate="shoppedApp.recipeHasIngredient.status">Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ingredientName"><span jhiTranslate="shoppedApp.recipeHasIngredient.ingredient">Ingredient</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="recipeName"><span jhiTranslate="shoppedApp.recipeHasIngredient.recipe">Recipe</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let recipeHasIngredient of recipeHasIngredients ;trackBy: trackId">
                    <td><a [routerLink]="['/recipe-has-ingredient', recipeHasIngredient.id, 'view']">{{ recipeHasIngredient.id }}</a></td>
                    <td>{{ recipeHasIngredient.amount }}</td>
                    <td jhiTranslate="{{ 'shoppedApp.Status.' + recipeHasIngredient.status }}">{{ recipeHasIngredient.status }}</td>
                    <td>
                        <div *ngIf="recipeHasIngredient.ingredientId">
                            <a [routerLink]="['/ingredient', recipeHasIngredient.ingredientId , 'view']" >{{ recipeHasIngredient.ingredientName }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="recipeHasIngredient.recipeId">
                            <a [routerLink]="['/recipe', recipeHasIngredient.recipeId , 'view']" >{{ recipeHasIngredient.recipeName }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/recipe-has-ingredient', recipeHasIngredient.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/recipe-has-ingredient', recipeHasIngredient.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(recipeHasIngredient)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="recipeHasIngredients && recipeHasIngredients.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
