<div>
    <h2 id="page-heading">
        <span jhiTranslate="shoppedApp.catalogue.home.title">Catalogues</span>

<!--        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-catalogue" [routerLink]="['/catalogue/new']">-->
<!--            <fa-icon icon="plus"></fa-icon>-->
<!--            <span  jhiTranslate="shoppedApp.catalogue.home.createLabel">-->
<!--            Create a new Catalogue-->
<!--            </span>-->
<!--        </button>-->
        <button
            [matTooltipHideDelay]="0"
            [matTooltipShowDelay]="1000"
            [routerLink]="['/catalogue/new']"
            aria-label="Create a new catalogue tag"
            class="float-right jh-create-entity create-recipe-tag mx-4 mb-3"
            jhiMaterialColor="accent"
            mat-mini-fab
            matTooltip="Create a new catalogue tag">
            <mat-icon>add</mat-icon>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="catalogues?.length === 0">
        <span jhiTranslate="shoppedApp.catalogue.home.notFound">No catalogues found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="catalogues && catalogues.length > 0">
        <jhi-catalogue-table [data]="catalogues" [managementComponent]="this"></jhi-catalogue-table>
    </div>

    <div class="w-100" fxLayout="row" fxLayoutAlign="space-around center">
        <mat-spinner *ngIf="!catalogues || catalogues.length == 0" diameter="50" strokeWidth="5"></mat-spinner>
    </div>
</div>
