<div class="row justify-content-center">
    <div class="col-10">
        <button type="submit" class="btn btn-secondary" (click)="previousState()">
            <fa-icon icon="arrow-left"></fa-icon>
        </button>
    </div>
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-ingredient-heading">{{ editForm.get('id')!.value !== undefined ? "Edit" : "Create" }}
                Catalogue</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>
                <jhi-alert></jhi-alert>
<!--                <mat-form-field class="form-group w-100" appearance="fill" [hidden]="!editForm.get('id')!.value">-->
<!--                    <mat-label for="id" jhiTranslate="global.field.id">ID</mat-label>-->
<!--                    <input matInput type="text" id="id" name="id" formControlName="id" readonly/>-->
<!--                </mat-form-field>-->

                <mat-form-field appearance="fill" class="form-group w-100">
                    <mat-label>Name*</mat-label>
                    <input formControlName="idCatalogue" id="field_name" matInput name="idCatalogue"
                           type="text"/>
                    <mat-error
                        *ngIf="(editForm.get('idCatalogue')!.invalid && (editForm.get('idCatalogue')!.dirty ||
                                editForm.get('idCatalogue')!.touched)) && editForm.get('idCatalogue')?.errors?.required"
                        jhiTranslate="entity.validation.required">
                        This field is required.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="form-group w-100">
                    <mat-label>Value*</mat-label>
                    <input formControlName="value" id="field_value" matInput name="value"
                           type="text"/>
                    <mat-error
                        *ngIf="(editForm.get('value')!.invalid && (editForm.get('value')!.dirty ||
                                editForm.get('value')!.touched)) && editForm.get('value')?.errors?.required"
                        jhiTranslate="entity.validation.required">
                        This field is required.
                    </mat-error>
                </mat-form-field>

                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
