<div>
    <h2>
        <span id="user-management-page-heading" jhiTranslate="userManagement.home.title">Users</span>

        <button class="btn btn-primary float-right jh-create-entity" [routerLink]="['./new']">
            <fa-icon icon="plus"></fa-icon> <span jhiTranslate="userManagement.home.createLabel">Create a new User</span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

<!--    <jhi-alert></jhi-alert>-->

    <div class="table-responsive table-hover" *ngIf="users">
        <jhi-material-table [data]="users" [managementComponent]="this"></jhi-material-table>
    </div>
</div>
u
