<div>
    <h2>
        <span id="user-management-page-heading" jhiTranslate="userManagement.home.title">Users</span>
        <button *ngIf="!requesting && (!users || users.length == 0)"
                [matTooltipHideDelay]="0"
                [matTooltipShowDelay]="1000"
                [routerLink]="['/recipe-tag/new']"
                aria-label="Create a new recipe tag"
                class="float-right jh-create-entity create-recipe-tag mx-4 mb-3"
                jhiMaterialColor="accent"
                mat-mini-fab
                matTooltip="Create a new recipe tag">
            <mat-icon>add</mat-icon>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div *ngIf="requesting"
         class="w-100" fxLayout="row" fxLayoutAlign="space-around center">
        <mat-spinner diameter="50" strokeWidth="5"></mat-spinner>
    </div>

    <div class="table-responsive table-hover" *ngIf="users">
        <jhi-material-table #tableComponent [data]="users" [managementComponent]="this"></jhi-material-table>
    </div>
</div>
