<div class="row justify-content-center">
    <div class="col-10">
        <button (click)="previousState()" class="btn btn-secondary" type="submit">
            <fa-icon icon="arrow-left"></fa-icon>
        </button>
    </div>
    <div class="col-8">
        <div class="w-100" fxLayout="row" fxLayoutAlign="space-around center">
            <mat-spinner *ngIf="loadingUser || isSaving" diameter="50" strokeWidth="5"></mat-spinner>
        </div>
        <form name="editForm" *ngIf="!loadingUser" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="myUserLabel">
                {{ editForm.get('id')!.value !== undefined ? "Edit" : "Create" }} a User
            </h2>

            <div *ngIf="user">
                <jhi-alert-error></jhi-alert-error>
                <mat-form-field class="form-group w-100 mat-form-field-disabled"
                                appearance="fill" [hidden]="true">
                    <mat-label jhiTranslate="global.field.id">ID</mat-label>
                    <input matInput type="text" name="id" formControlName="id" readonly>
                </mat-form-field>

                <mat-form-field [ngClass]="{'mat-form-field-disabled': (editing)}"
                                class="form-group w-100"
                                appearance="fill">
                    <mat-label jhiTranslate="userManagement.login">Login</mat-label>
                    <input matInput type="text" name="login"
                           formControlName="login" [readonly]="editing">
                    <mat-hint></mat-hint>
                    <mat-error *ngIf="editForm.get('login')!.invalid && (editForm.get('login')!.dirty || editForm.get('login')!.touched)">
                        <span class="text-danger"
                               *ngIf="editForm.get('login')?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </span>

                        <span class="text-danger"
                               *ngIf="editForm.get('login')?.errors?.maxlength"
                               jhiTranslate="entity.validation.maxlength"
                               [translateValues]="{ max: 50 }">
                            This field cannot be longer than 50 characters.
                        </span>

                        <span class="text-danger"
                               *ngIf="editForm.get('login')?.errors?.pattern"
                               jhiTranslate="entity.validation.patternLogin">
                            This field can only contain letters, digits and e-mail addresses.
                        </span>
                    </mat-error>
                </mat-form-field>
                <div class="form-group row">
                    <mat-form-field [ngClass]="{'mat-form-field-disabled': (editing)}"
                                    class="col-sm-12 col-md-6 col-lg-6"
                                    appearance="fill">
                        <mat-label jhiTranslate="userManagement.firstName">First Name</mat-label>
                        <input matInput type="text"  name="firstName" [readonly]="editing"
                               formControlName="firstName">
                        <mat-error *ngIf="editForm.get('firstName')!.invalid && (editForm.get('firstName')!.dirty || editForm.get('firstName')!.touched)">
                        <span
                            *ngIf="editForm.get('firstName')?.errors?.maxlength"
                            jhiTranslate="entity.validation.maxlength"
                            [translateValues]="{ max: 50 }">
                            This field cannot be longer than 50 characters.
                        </span>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field [ngClass]="{'mat-form-field-disabled': (editing)}"
                                    class="col-sm-12 col-md-6 col-lg-6"
                                    appearance="fill">
                        <mat-label jhiTranslate="userManagement.lastName">Last Name</mat-label>
                        <input matInput type="text"  name="lastName"
                               formControlName="lastName" [readonly]="editing">

                        <mat-error *ngIf="editForm.get('lastName')!.invalid && (editForm.get('lastName')!.dirty || editForm.get('lastName')!.touched)">
                        <span class="form-text text-danger"
                              *ngIf="editForm.get('lastName')?.errors?.maxlength"
                              jhiTranslate="entity.validation.maxlength"
                              [translateValues]="{ max: 50 }">
                            This field cannot be longer than 50 characters.
                        </span>
                        </mat-error>
                    </mat-form-field>
                </div>

                <mat-form-field [ngClass]="{'mat-form-field-disabled': (editing)}"
                                class="form-group w-100"
                                appearance="fill">
                    <mat-label jhiTranslate="userManagement.email">Email</mat-label>
                    <input matInput type="email" required name="email" formControlName="email" [readonly]="editing">
                    <mat-hint></mat-hint>
                    <mat-error *ngIf="editForm.get('email')!.invalid &&
                                     (editForm.get('email')!.dirty || editForm.get('email')!.touched)">
                        <span class="text-danger"
                               *ngIf="editForm.get('email')?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </span>

                        <span class="text-danger"
                               *ngIf="editForm.get('email')?.errors?.maxlength"
                               jhiTranslate="entity.validation.maxlength"
                               [translateValues]="{ max: 100 }">
                            This field cannot be longer than 100 characters.
                        </span>

                        <span class="text-danger"
                               *ngIf="editForm.get('email')?.errors?.minlength"
                               jhiTranslate="entity.validation.minlength"
                               [translateValues]="{ min: 5 }">
                            This field is required to be at least 5 characters.
                        </span>

                        <span class="text-danger"
                               *ngIf="editForm.get('email')?.errors?.email"
                               jhiTranslate="global.messages.validate.email.invalid">
                            Your email is invalid.
                        </span>
                    </mat-error>
                </mat-form-field>

                <mat-form-field [ngClass]="{'mat-form-field-disabled': (editing)}"
                                class="form-group w-100"
                                appearance="fill"
                                *ngIf="languages && languages.length > 0">
                    <mat-label jhiTranslate="userManagement.langKey">Lang Key</mat-label>
                    <mat-select *ngIf="!editing" id="langKey" name="langKey" formControlName="langKey" >
                        <mat-option *ngFor="let language of languages" [value]="language">{{ language | findLanguageFromKey }}</mat-option>
                    </mat-select>
                    <input *ngIf="editing" matInput id="langKeyInput" name="langKey" formControlName="langKey" [readonly]="true">
                    <mat-hint></mat-hint>
                </mat-form-field>

                <mat-form-field class="form-group w-100" appearance="fill">
                    <mat-label>Role</mat-label>
                    <mat-select name="authority" formControlName="authorities">
                        <mat-option *ngFor="let authority of authorities" [value]="authority"
                                    [disabled]="authority === 'ROLE_ADMIN'">
                            <span>{{ getAuthorityName(authority) }}</span>
                        </mat-option>
                    </mat-select>
                    <mat-hint></mat-hint>
                </mat-form-field>
            </div>

            <div *ngIf="user">
                <button mat-flat-button class="text-white" type="button" jhiMaterialColor="secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button mat-flat-button class="text-white" type="submit" [disabled]="editForm.invalid || isSaving" jhiMaterialColor="primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>

