<div>
    <div class="row justify-content-center">
        <div class="col-md-8" *ngIf="account$ | async as account">
            <mat-card fxLayoutAlign="center left" fxLayout="column">
                <div fxLayout.lt-sm="column" fxLayout="row">
                    <mat-card-header class="text-center w-100"  fxLayoutAlign="center center">
                        <mat-card-title>
                            <h2 class="text-center" jhiTranslate="password.title">
                                Change password
                            </h2>
                        </mat-card-title>
                        <mat-card-subtitle>
                            <h3 class="text-center"
                                jhiTranslate="password.subtitle" [translateValues]="{ username: account.login }">
                                <strong>{{ account.login }}</strong>
                            </h3>
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content class="w-100" fxLayoutAlign="center center">
                        <form name="form" role="form" (ngSubmit)="changePassword()" [formGroup]="passwordForm">
                            <div class="form-group">
                                <mat-form-field appearance="fill" class="form-group w-100">
                                    <mat-label class="form-control-label" for="currentPassword" jhiTranslate="global.form.currentpassword.label">Current password</mat-label>
                                    <input matInput type="password" class="" id="currentPassword" name="currentPassword"
                                           placeholder="{{ 'global.form.currentpassword.placeholder' | translate }}"
                                           formControlName="currentPassword">
                                    <mat-hint></mat-hint>
                                    <mat-icon matSuffix>vpn_key</mat-icon>
                                    <mat-error *ngIf="passwordForm.get('currentPassword')!.invalid && (passwordForm.get('currentPassword')!.dirty || passwordForm.get('currentPassword')!.touched)" >
                                        <small class="form-text text-danger"
                                               *ngIf="passwordForm.get('currentPassword')?.errors?.required"
                                               jhiTranslate="global.messages.validate.newpassword.required">
                                            Your password is required.
                                        </small>
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="form-group">
                                <mat-form-field appearance="fill" class="form-group w-100">
                                    <mat-label class="form-control-label" for="newPassword" jhiTranslate="global.form.newpassword.label">New password</mat-label>
                                    <input matInput type="password" class="" id="newPassword" name="newPassword"
                                           placeholder="{{ 'global.form.newpassword.placeholder' | translate }}"
                                           formControlName="newPassword">
                                    <mat-hint></mat-hint>
                                    <mat-icon matSuffix>enhanced_encryption</mat-icon>
                                    <mat-error *ngIf="passwordForm.get('newPassword')!.invalid && (passwordForm.get('newPassword')!.dirty || passwordForm.get('newPassword')!.touched)">
                                        <small class="form-text text-danger"
                                               *ngIf="passwordForm.get('newPassword')?.errors?.required"
                                               jhiTranslate="global.messages.validate.newpassword.required">
                                            Your password is required.
                                        </small>

                                        <small class="form-text text-danger"
                                               *ngIf="passwordForm.get('newPassword')?.errors?.minlength"
                                               jhiTranslate="global.messages.validate.newpassword.minlength">
                                            Your password is required to be at least 4 characters.
                                        </small>

                                        <small class="form-text text-danger"
                                               *ngIf="passwordForm.get('newPassword')?.errors?.maxlength"
                                               jhiTranslate="global.messages.validate.newpassword.maxlength">
                                            Your password cannot be longer than 50 characters.
                                        </small>
                                    </mat-error>
                                </mat-form-field>
                                <jhi-password-strength-bar #strengthBarComponent [passwordToCheck]="passwordForm.get('newPassword')!.value"></jhi-password-strength-bar>
                            </div>

                            <div class="form-group">
                                <mat-form-field appearance="fill" class="form-group w-100">
                                    <mat-label class="form-control-label" for="confirmPassword" jhiTranslate="global.form.confirmpassword.label">New password confirmation</mat-label>
                                    <input matInput type="password" class="" id="confirmPassword" name="confirmPassword"
                                           placeholder="{{ 'global.form.confirmpassword.placeholder' | translate }}"
                                           formControlName="confirmPassword">
                                    <mat-icon matSuffix>lock</mat-icon>
                                    <mat-error *ngIf="passwordForm.get('confirmPassword')!.invalid && (passwordForm.get('confirmPassword')!.dirty || passwordForm.get('confirmPassword')!.touched)">
                                        <small class="form-text text-danger"
                                               *ngIf="passwordForm.get('confirmPassword')?.errors?.required"
                                               jhiTranslate="global.messages.validate.confirmpassword.required">
                                            Your confirmation password is required.
                                        </small>

                                        <small class="form-text text-danger"
                                               *ngIf="passwordForm.get('confirmPassword')?.errors?.minlength"
                                               jhiTranslate="global.messages.validate.confirmpassword.minlength">
                                            Your confirmation password is required to be at least 4 characters.
                                        </small>

                                        <small class="form-text text-danger"
                                               *ngIf="passwordForm.get('confirmPassword')?.errors?.maxlength"
                                               jhiTranslate="global.messages.validate.confirmpassword.maxlength">
                                            Your confirmation password cannot be longer than 50 characters.
                                        </small>
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <button type="submit" [disabled]="passwordForm.invalid" mat-flat-button jhiMaterialColor="primary"
                                    jhiTranslate="password.form.button">Save</button>
                        </form>
                    </mat-card-content>
                </div>
                <mat-card-footer>
                    <div class="alert alert-success my-3" *ngIf="success" jhiTranslate="password.messages.success">
                        <strong>Password changed!</strong>
                    </div>

                    <div class="alert alert-danger my-3" *ngIf="error" jhiTranslate="password.messages.error">
                        <strong>An error has occurred!</strong> The password could not be changed.
                    </div>

                    <div class="alert alert-danger my-3" *ngIf="doNotMatch" jhiTranslate="global.messages.error.dontmatch">
                        The password and its confirmation do not match!
                    </div>

                    <div class="alert alert-danger my-3" *ngIf="unacceptablePassword">
                        Your password must have 4 security bars!
                    </div>
                </mat-card-footer>
            </mat-card>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-around center" class="w-100">
            <mat-spinner *ngIf="!account$" diameter="50" strokeWidth="5"></mat-spinner>
        </div>
    </div>
</div>

