<div fxFlex="100%">
    <div class="row justify-content-center">
        <div class="col-8" style="margin-top: 50px; margin-bottom: 50px">
            <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
                <h2 id="jhi-comment-heading">Add a public comment</h2>
                <jhi-alert-error></jhi-alert-error>
                <div>
                    <mat-form-field appearance="fill" class="form-group w-100" [hidden]="true">
                        <mat-label jhiTranslate="global.field.id"></mat-label>
                        <input formControlName="id" id="id" matInput name="id" readonly type="text"/>
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="form-group w-100">
                        <mat-label>Comment*</mat-label>
                        <textarea  formControlName="content" id="field_content" matInput name="content"
                                   type="text" style="height: 75px"></textarea>
                        <mat-error
                            *ngIf="(editForm.get('content')!.invalid && (editForm.get('content')!.dirty ||
                                editForm.get('content')!.touched)) && editForm.get('content')?.errors?.minlength"
                            [translateValues]="{ min: 1 }" jhiTranslate="entity.validation.minlength">

                        </mat-error>
                        <mat-error *ngIf="(editForm.get('content')!.invalid && (editForm.get('content')!.dirty ||
                                editForm.get('content')!.touched)) && editForm.get('content')?.errors?.maxlength"
                                   [translateValues]="{ max: 200 }"
                                   jhiTranslate="entity.validation.maxlength">
                            This field cannot be longer than 200 characters.
                        </mat-error>
                    </mat-form-field>

                    <div [hidden]="true" class="form-group">
                        <label class="form-control-label" jhiTranslate="shoppedApp.comment.date" for="field_created">Date</label>
                        <div class="d-flex">
                            <input id="field_created" type="datetime-local" class="form-control" name="created"
                                   formControlName="date"
                                   placeholder="YYYY-MM-DD HH:mm"/>
                        </div>
                        <div
                            *ngIf="editForm.get('created')!.invalid && (editForm.get('created')!.dirty || editForm.get('created')!.touched)">
                            <small class="form-text text-danger"
                                   *ngIf="editForm.get('created')?.errors?.required"
                                   jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                            <small class="form-text text-danger"
                                   [hidden]="!editForm.get('created')?.errors?.ZonedDateTimelocal"
                                   jhiTranslate="entity.validation.ZonedDateTimelocal">
                                This field should be a date and time.
                            </small>
                        </div>
                    </div>

                    <mat-form-field [hidden]="true" appearance="fill" class="form-group w-100">
                        <mat-label jhiTranslate="shoppedApp.comment.status"></mat-label>
                        <mat-select [(ngModel)]="statusOptions[0]" formControlName="status" id="status" name="status">
                            <mat-option *ngFor="let status of statusOptions" [value]="status">
                                {{status | capitalize }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div>
                    <button (click)="previousState()" class="text-white" id="cancel-save" jhiMaterialColor="secondary"
                            mat-raised-button type="button">
                        <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                    </button>

                    <button [disabled]="editForm.invalid || isSaving" class="text-white" id="save-entity"
                            jhiMaterialColor="primary" mat-raised-button type="submit"
                            >
                        <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>

</div>
