<div class="row justify-content-center">
    <div class="col-10">
        <button type="submit" class="btn btn-secondary" (click)="previousState()">
            <fa-icon icon="arrow-left"></fa-icon>
        </button>
    </div>
    <div class="col-8">
        <div *ngIf="bundle">
            <h2><span jhiTranslate="shoppedApp.bundle.detail.title">Bundle</span> {{ bundle.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="shoppedApp.bundle.name">Name</span></dt>
                <dd>
                    <span>{{ bundle.name }}</span>
                </dd>
                <dt><span jhiTranslate="shoppedApp.bundle.cost">Cost</span></dt>
                <dd>
                    <span>{{ bundle.cost }}</span>
                </dd>
                <dt><span jhiTranslate="shoppedApp.bundle.cookieAmount">Cookie Amount</span></dt>
                <dd>
                    <span>{{ bundle.cookieAmount }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/bundle', bundle.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
