<div>
    <h2 id="page-heading">
        <span jhiTranslate="shoppedApp.ingredient.home.title">Ingredients</span>
        <button
            [matTooltipHideDelay]="0"
            [matTooltipShowDelay]="1000"
            [routerLink]="['/ingredient/new']"
            aria-label="Create a new ingredient"
            class="float-right jh-create-entity create-ingredient"
            jhiMaterialColor="accent"
            mat-flat-button
            matTooltip="Create a new ingredient">
            <mat-icon>add</mat-icon>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div *ngIf="ingredients?.length === 0" class="alert alert-warning" id="no-result">
        <span jhiTranslate="shoppedApp.ingredient.home.notFound">No ingredients found</span>
    </div>

    <div *ngIf="ingredients && ingredients.length > 0" class="table-responsive" id="entities">
        <jhi-ingredient-table [data]="ingredients" [managementComponent]="this"></jhi-ingredient-table>
    </div>
</div>
