<mat-grid-list cols="5" rowHeight="60px" rowWidth="100%">
    <mat-grid-tile [colspan]="3">
        <div class="d-flex flex-row w-100 ml-3">
            <h2 mat-dialog-title>Awards</h2>
        </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2">
        <div class="d-flex flex-row-reverse w-100 mb-3 align-items-stretch">
            <button class="d-flex border-0 btn-cookies">
                <div class="pr-2">
                    <fa-icon icon="cookie-bite"></fa-icon>
                    {{cookie.amount}}
                </div>
                <div class="ml-4 border-left border-light pl-2">
                    <fa-icon icon="plus"></fa-icon>
                </div>

            </button>
        </div>
    </mat-grid-tile>
</mat-grid-list>

<mat-divider></mat-divider>

<mat-dialog-content class="mat-typography">
    <div class="container">
        <div class="row row-no-overflow">
            <div class="col-md-7 mt-3">
                <div class="row row-overflow award-list">
                    <div *ngFor="let item of awards">
                        <div class="w-33 d-flex">
                            <button mat-button jhiMaterialColor="primary" (click)="chargeAward(item)">
                                    <span>
                                        <img [src]="'data:' + item.imageContentType + ';base64,' + item.image"
                                             alt="award image"
                                             class="rounded-circle mt-2 img-award-list"/>
                                    </span><br>
                                <fa-icon icon="cookie-bite"></fa-icon>
                                {{item.cost}}
                            </button>
                        </div>
                    </div>
                    <div *ngIf="awards.length === 0">
                        We are sorry, they are currently no available awards.
                    </div>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="col-md-5 mt-3 sticky-top">
                <div class="justify-content-center description" align="center" *ngIf="award">
                    <img [src]="'data:' + award.imageContentType + ';base64,' + award.image"
                         alt="award image" class="rounded-circle mt-2 img-award-details"
                         align="center"/>
                    <h3 class="text-center">{{award.name}}</h3>
                    <p class="text-center description">{{award.description}}</p>
                    <h2 class="text-center primary">
                        <fa-icon icon="cookie-bite"></fa-icon>
                        {{award.cost}}</h2>
                    <div *ngIf="(cookie.amount || -1) >= (award.cost || 0)">
                        <button mat-raised-button jhiMaterialColor="primary" align="center" [mat-dialog-close] (click)="
                            awardPost(award)">Next
                        </button>
                    </div>
                    <div *ngIf="(cookie.amount || -1) < (award.cost || 0)">
                        <button mat-raised-button jhiMaterialColor="accent" align="center" disabled>Next</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-divider class="mt-3"></mat-divider>
<mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]>Cancel</button>
</mat-dialog-actions>
