<div>
    <h2 id="page-heading">
        <span jhiTranslate="shoppedApp.recipeShared.home.title">Recipe Shareds</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-recipe-shared" [routerLink]="['/recipe-shared/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="shoppedApp.recipeShared.home.createLabel">
            Create a new Recipe Shared
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="recipeShareds?.length === 0">
        <span jhiTranslate="shoppedApp.recipeShared.home.notFound">No recipeShareds found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="recipeShareds && recipeShareds.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="status"><span jhiTranslate="shoppedApp.recipeShared.status">Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="recipeName"><span jhiTranslate="shoppedApp.recipeShared.recipe">Recipe</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userLogin"><span jhiTranslate="shoppedApp.recipeShared.user">User</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let recipeShared of recipeShareds ;trackBy: trackId">
                    <td><a [routerLink]="['/recipe-shared', recipeShared.id, 'view']">{{ recipeShared.id }}</a></td>
                    <td jhiTranslate="{{ 'shoppedApp.Status.' + recipeShared.status }}">{{ recipeShared.status }}</td>
                    <td>
                        <div *ngIf="recipeShared.recipeId">
                            <a [routerLink]="['/recipe', recipeShared.recipeId , 'view']" >{{ recipeShared.recipeName }}</a>
                        </div>
                    </td>
                    <td>
                        {{ recipeShared.userLogin }}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/recipe-shared', recipeShared.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/recipe-shared', recipeShared.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(recipeShared)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="recipeShareds && recipeShareds.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
