<div>
    <h2 id="page-heading">
        <span jhiTranslate="shoppedApp.commendation.home.title">Commendations</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-commendation" [routerLink]="['/commendation/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="shoppedApp.commendation.home.createLabel">
            Create a new Commendation
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="commendations?.length === 0">
        <span jhiTranslate="shoppedApp.commendation.home.notFound">No commendations found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="commendations && commendations.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="date"><span jhiTranslate="shoppedApp.commendation.date">Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="postId"><span jhiTranslate="shoppedApp.commendation.post">Post</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="awardName"><span jhiTranslate="shoppedApp.commendation.award">Award</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userLogin"><span jhiTranslate="shoppedApp.commendation.user">User</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let commendation of commendations ;trackBy: trackId">
                    <td><a [routerLink]="['/commendation', commendation.id, 'view']">{{ commendation.id }}</a></td>
                    <td>{{ commendation.date | date:'medium' }}</td>
                    <td>
                        <div *ngIf="commendation.postId">
                            <a [routerLink]="['/post', commendation.postId , 'view']" >{{ commendation.postId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="commendation.awardId">
                            <a [routerLink]="['/award', commendation.awardId , 'view']" >{{ commendation.awardName }}</a>
                        </div>
                    </td>
                    <td>
                        {{ commendation.userLogin }}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/commendation', commendation.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/commendation', commendation.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(commendation)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="commendations && commendations.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
