<div class="row justify-content-center" xmlns="http://www.w3.org/1999/html">
    <div class="col-10">
        <button (click)="previousState()" class="btn btn-secondary" type="submit">
            <fa-icon icon="arrow-left"></fa-icon>
        </button>
    </div>
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-user-profile-heading" jhiTranslate="shoppedApp.userProfile.home.createOrEditLabel">Create or
                edit a User Profile</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <mat-form-field class="form-group" [hidden]="true">
                    <mat-label for="id" jhiTranslate="global.field.id">ID</mat-label>
                    <input matInput type="text" class="form-control" id="id" name="id" formControlName="id" readonly/>
                </mat-form-field>

                <mat-form-field class="form-group w-100" appearance="fill">
                    <mat-label class="form-control-label" jhiTranslate="shoppedApp.userProfile.description"
                           for="field_description">Description</mat-label>
                    <textarea matInput type="text"  name="description" id="field_description"
                              placeholder="Type a description below 254 characters." [maxLength]="254"
                              style="resize: none" [rows]="10" formControlName="description"></textarea>
                    <mat-error *ngIf="editForm.get('description')!.invalid && (editForm.get('description')!.dirty ||
                    editForm.get('description')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('description')?.errors?.maxlength">
                            Max length reached
                        </small>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="form-group w-100" appearance="fill">
                    <mat-label class="form-control-label" jhiTranslate="shoppedApp.userProfile.birthDate"
                           for="field_birthDate">Birth Date</mat-label>
                    <input matInput id="field_birthDate" type="text" name="birthDate"
                           formControlName="birthDate" [matDatepicker]="picker" [min]="minDate" [max]="maxDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker [startAt]="startDate"></mat-datepicker>
                </mat-form-field>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shoppedApp.userProfile.image">Image</label>
                    <div>
                        <img
                            [src]="'data:' + editForm.get('imageContentType')!.value + ';base64,' + editForm.get('image')!.value"
                            style="max-height: 100px;" *ngIf="editForm.get('image')!.value" alt="userProfile image"/>
                        <div *ngIf="editForm.get('image')!.value" class="form-text text-danger clearfix">
<!--                            <span class="pull-left">-->
<!--                                {{ editForm.get('imageContentType')!.value }}-->
<!--                                , {{ byteSize(editForm.get('image')!.value) }}-->
<!--                            </span>-->
                            <button type="button" (click)="clearInputImage('image', 'imageContentType', 'file_image')"
                                    class="">
                                <fa-icon icon="times"></fa-icon>
                            </button>

                        </div>
                        <div>
                            <input type="file" id="file_image" (change)="setFileData($event, 'image', true)"
                                   accept="image/*" jhiTranslate="entity.action.addimage" class="inputfile"/>
                            <label for="file_image">
                                <a type="button" mat-flat-button jhiMaterialColor="primary">
                                    <fa-icon icon="image"></fa-icon>
                                    Add Image
                                </a>
                            </label>
                        </div>
                    </div>
                </div>

                <mat-form-field class="form-group w-100 mat-form-field-disabled" appearance="fill">
                    <mat-label class="form-control-label" jhiTranslate="shoppedApp.userProfile.status" for="field_status">Status</mat-label>
                    <div [ngSwitch]="editableStatus">
                        <mat-select *ngSwitchCase="true" name="status" formControlName="status"
                                    id="field_status" readonly>
                            <mat-option value="ACTIVE">Active</mat-option>
                                <mat-option value="INACTIVE">Inactive</mat-option>
                            <mat-option value="BLOCKED">Blocked</mat-option>
                            <mat-option value="PENDING">Pending</mat-option>
                        </mat-select>
                        <input matInput *ngSwitchCase="false" name="status" formControlName="status"
                               id="field_statusInput" readonly/>
                    </div>
                </mat-form-field>

<!--                <div class="form-group">-->
<!--                    <label class="form-control-label" jhiTranslate="shoppedApp.userProfile.user"-->
<!--                           for="field_user">User</label>-->
<!--                    <select class="form-control" id="field_user" name="user" formControlName="userId">-->
<!--                        <option [ngValue]="null"></option>-->
<!--                        <option [ngValue]="userOption.id"-->
<!--                                *ngFor="let userOption of users; trackBy: trackById">{{ userOption.login }}</option>-->
<!--                    </select>-->
<!--                </div>-->
            </div>

            <div>
                <button mat-flat-button type="button" id="cancel-save" class="text-white" (click)="previousState()"
                        jhiMaterialColor="secondary">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button mat-flat-button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving"
                        color="primary" class="text-white">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
