<nav class="navbar navbar-light navbar-expand-md bg-secondary">
    <a (click)="collapseNavbar()" class="navbar-brand logo" routerLink="/">
        <span class="logo-img"></span>
        <span class="navbar-title" jhiTranslate="global.title">Shopped</span> <span
        class="navbar-version">{{ version }}</span>
    </a>
    <a
        (click)="toggleNavbar()"
        aria-controls="navbarResponsive"
        aria-expanded="false"
        aria-label="Toggle navigation"
        class="navbar-toggler d-lg-none"
        data-target="#navbarResponsive"
        data-toggle="collapse"
        href="javascript:void(0);"
    >
        <fa-icon icon="bars"></fa-icon>
    </a>
    <div [ngSwitch]="isAuthenticated()" [ngbCollapse]="isNavbarCollapsed" class="navbar-collapse collapse"
         id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li [routerLinkActiveOptions]="{ exact: true }" class="nav-item" routerLinkActive="active">
                <button (click)="collapseNavbar()" class="nav-link" mat-button routerLink="/">
                  <span>
                    <fa-icon icon="home"></fa-icon>
                    <span jhiTranslate="global.menu.home">Home</span>
                  </span>
                </button>
            </li>
            <!-- DASHBOARD LINK -->
            <li *ngSwitchCase="true" [routerLinkActiveOptions]="{ exact: true }" class="nav-item" routerLinkActive="active">
                <button *ngIf="currentAccount" (click)="collapseNavbar()" class="nav-link" mat-button
                        [routerLink]="['/account/profile', currentAccount.login]"
                >
                  <span>
                    <fa-icon icon="user"></fa-icon>
                    <span>Dashboard</span>
                  </span>
                </button>
            </li>

            <!-- ADMIN MENU-->
            <li
                *jhiHasAnyAuthority="'ROLE_ADMIN'"
                [routerLinkActiveOptions]="{ exact: true }"
                class="nav-item dropdown pointer"
                display="dynamic"
                ngbDropdown
                routerLinkActive="active"
            >
                <button [matMenuTriggerFor]="adminMenu" class="nav-link dropdown-toggle" id="admin-menu"
                        mat-button>
                    <span>
                      <fa-icon icon="users-cog"></fa-icon>
                      <span>Administration</span>
                  </span>
                </button>

                <mat-menu #adminMenu="matMenu" xPosition="before">
                    <button [matMenuTriggerFor]="platformAdminMenu" id="admin-platform-menu"
                            mat-menu-item>
                        <span>
                          <fa-icon icon="user-plus"></fa-icon>
                          <span>Platform</span>
                        </span>
                    </button>
                    <button mat-menu-item [matMenuTriggerFor]="foodManagementMenu">
                        <span>
                          <fa-icon icon="utensils"></fa-icon>
                          <span>Food management</span>
                        </span>
                    </button>
                    <button mat-menu-item [matMenuTriggerFor]="postsMenu">
                        <span>
                          <fa-icon icon="user-plus"></fa-icon>
                          <span>Posts</span>
                        </span>
                    </button>
                    <button mat-menu-item [matMenuTriggerFor]="cookiesMenu">
                        <span>
                          <fa-icon icon="cookie-bite"></fa-icon>
                          <span>Cookies</span>
                        </span>
                    </button>
                    <button [hidden]="true" mat-menu-item [matMenuTriggerFor]="otherMenu">
                        <span>
                          <fa-icon icon="asterisk"></fa-icon>
                          <span>Other</span>
                        </span>
                    </button>
                </mat-menu>

                <mat-menu #platformAdminMenu="matMenu" xPosition="before">
                    <button (click)="collapseNavbar()" mat-menu-item routerLink="admin/user-management"
                            routerLinkActive="active">
                        <fa-icon [fixedWidth]="true" icon="user"></fa-icon>
                        <span jhiTranslate="global.menu.admin.userManagement">User management</span>
                    </button>
                    <button mat-menu-item [matMenuTriggerFor]="moderationMenu">
                        <fa-icon [fixedWidth]="true" icon="users-cog"></fa-icon>
                        <span>Moderation</span>
                    </button>
                    <button (click)="collapseNavbar()" mat-menu-item routerLink="admin/metrics"
                            routerLinkActive="active">
                        <fa-icon [fixedWidth]="true" icon="tachometer-alt"></fa-icon>
                        <span jhiTranslate="global.menu.admin.metrics">Metrics</span>
                    </button>
                    <button (click)="collapseNavbar()" mat-menu-item routerLink="admin/health"
                            routerLinkActive="active">
                        <fa-icon [fixedWidth]="true" icon="heart"></fa-icon>
                        <span jhiTranslate="global.menu.admin.health">Health</span>
                    </button>
                    <button (click)="collapseNavbar()" mat-menu-item routerLink="admin/configuration"
                            routerLinkActive="active">
                        <fa-icon [fixedWidth]="true" icon="list"></fa-icon>
                        <span jhiTranslate="global.menu.admin.configuration">Configuration</span>
                    </button>
                    <button mat-menu-item [matMenuTriggerFor]="logsMenu">
                        <fa-icon [fixedWidth]="true" icon="users-cog"></fa-icon>
                        <span>Logs</span>
                    </button>
                    <button (click)="collapseNavbar()" *ngIf="swaggerEnabled" mat-menu-item routerLink="admin/docs"
                            routerLinkActive="active">
                        <fa-icon [fixedWidth]="true" icon="book"></fa-icon>
                        <span jhiTranslate="global.menu.admin.apidocs">API</span>
                    </button>
                    <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                </mat-menu>

                <mat-menu #moderationMenu="matMenu" xPosition="before">
                    <button
                        (click)="collapseNavbar()"
                        [routerLinkActiveOptions]="{ exact: true }"
                        class="dropdown-item"
                        mat-menu-item
                        routerLink="report-type"
                        routerLinkActive="active"
                    >
                        <fa-icon [fixedWidth]="true" icon="flag"></fa-icon>
                        <span>Report Types</span>
                    </button>
                    <button
                        (click)="collapseNavbar()"
                        [routerLinkActiveOptions]="{ exact: true }"
                        class="dropdown-item"
                        mat-menu-item
                        routerLink="report-comment"
                        routerLinkActive="active"
                    >
                        <fa-icon [fixedWidth]="true" icon="flag"></fa-icon>
                        <span>Comment reports</span>
                    </button>
                    <button
                        (click)="collapseNavbar()"
                        [routerLinkActiveOptions]="{ exact: true }"
                        class="dropdown-item"
                        mat-menu-item
                        routerLink="report-post"
                        routerLinkActive="active"
                    >
                        <fa-icon [fixedWidth]="true" icon="flag"></fa-icon>
                        <span>Post reports</span>
                    </button>
                </mat-menu>

                <mat-menu #logsMenu xPosition="before">
                    <button
                        (click)="collapseNavbar()"
                        [routerLinkActiveOptions]="{ exact: true }"
                        mat-menu-item
                        routerLink="log-type"
                        routerLinkActive="active"
                    >
                        <fa-icon [fixedWidth]="true" icon="tasks"></fa-icon>
                        <span>Log Types</span>
                    </button>
                    <button
                        (click)="collapseNavbar()"
                        [routerLinkActiveOptions]="{ exact: true }"
                        mat-menu-item
                        routerLink="log"
                        routerLinkActive="active"
                    >
                        <fa-icon [fixedWidth]="true" icon="tasks"></fa-icon>
                        <span jhiTranslate="global.menu.entities.log">Platform logs</span>
                    </button>
                    <button (click)="collapseNavbar()" mat-menu-item routerLink="admin/logs" routerLinkActive="active">
                        <fa-icon [fixedWidth]="true" icon="tasks"></fa-icon>
                        <span jhiTranslate="global.menu.admin.logs">Admin logs</span>
                    </button>
                    <button (click)="collapseNavbar()" mat-menu-item routerLink="admin/audits"
                            routerLinkActive="active">
                        <fa-icon [fixedWidth]="true" icon="bell"></fa-icon>
                        <span jhiTranslate="global.menu.admin.audits">Audits</span>
                    </button>
                </mat-menu>

                <mat-menu #foodManagementMenu="matMenu" xPosition="before">
                    <button (click)="collapseNavbar()"
                            class="dropdown-item"
                            mat-menu-item
                            [matMenuTriggerFor]="tagTypesMenu">
                        <span>
                          <fa-icon [fixedWidth]="true" icon="tag"></fa-icon>
                          <span>Tags</span>
                        </span>
                    </button>
                    <button
                        (click)="collapseNavbar()"
                        [routerLinkActiveOptions]="{ exact: true }"
                        class="dropdown-item"
                        mat-menu-item
                        routerLink="ingredient"
                        routerLinkActive="active"
                    >
                        <fa-icon [fixedWidth]="true" icon="hamburger"></fa-icon>
                        <span>Ingredients</span>
                    </button>
                    <button
                        (click)="collapseNavbar()"
                        [routerLinkActiveOptions]="{ exact: true }"
                        class="dropdown-item"
                        mat-menu-item
                        routerLink="recipe"
                        routerLinkActive="active"
                    >
                        <span class="icon-recipe"></span>
                        <span>Recipes</span>
                    </button>
                </mat-menu>

                <mat-menu #tagTypesMenu="matMenu" xPosition="before">
                    <button
                        (click)="collapseNavbar()"
                        [routerLinkActiveOptions]="{ exact: true }"
                        class="dropdown-item"
                        mat-menu-item
                        routerLink="tag-type"
                        routerLinkActive="active"
                    >
                        <fa-icon [fixedWidth]="true" icon="tags"></fa-icon>
                        <span jhiTranslate="global.menu.entities.tagType">Types</span>
                    </button>
                    <button
                        (click)="collapseNavbar()"
                        [routerLinkActiveOptions]="{ exact: true }"
                        class="dropdown-item"
                        mat-menu-item
                        routerLink="recipe-tag"
                        routerLinkActive="active"
                    >
                        <fa-icon [fixedWidth]="true" icon="tag"></fa-icon>
                        <span jhiTranslate="global.menu.entities.recipeTag">Recipe Tags</span>
                    </button>
                    <button
                        (click)="collapseNavbar()"
                        [routerLinkActiveOptions]="{ exact: true }"
                        class="dropdown-item"
                        mat-menu-item
                        routerLink="ingredient-tag"
                        routerLinkActive="active"
                    >
                        <fa-icon [fixedWidth]="true" icon="tag"></fa-icon>
                        <span jhiTranslate="global.menu.entities.ingredientTag">Ingredient Tags</span>
                    </button>
                </mat-menu>

                <mat-menu #postsMenu="matMenu" xPosition="before">
                    <button
                        (click)="collapseNavbar()"
                        [routerLinkActiveOptions]="{ exact: true }"
                        class="dropdown-item"
                        mat-menu-item
                        routerLink="post"
                        routerLinkActive="active"
                    >
                        <fa-icon [fixedWidth]="true" icon="mortar-pestle"></fa-icon>
                        <span>Manage</span>
                    </button>
                    <button
                        (click)="collapseNavbar()"
                        [routerLinkActiveOptions]="{ exact: true }"
                        class="dropdown-item"
                        mat-menu-item
                        routerLink="award"
                        routerLinkActive="active"
                    >
                        <fa-icon [fixedWidth]="true" icon="award"></fa-icon>
                        <span>Awards</span>
                    </button>
                </mat-menu>

                <mat-menu #cookiesMenu="matMenu" xPosition="before">
                    <button
                        (click)="collapseNavbar()"
                        [routerLinkActiveOptions]="{ exact: true }"
                        class="dropdown-item"
                        mat-menu-item
                        routerLink="bundle"
                        routerLinkActive="active"
                    >
                        <fa-icon [fixedWidth]="true" icon="box-open"></fa-icon>
                        <span>Bundles</span>
                    </button>
                    <button
                        (click)="collapseNavbar()"
                        [routerLinkActiveOptions]="{ exact: true }"
                        class="dropdown-item"
                        mat-menu-item
                        routerLink="transaction"
                        routerLinkActive="active"
                    >
                        <fa-icon [fixedWidth]="true" icon="history"></fa-icon>
                        <span>Transactions</span>
                    </button>
                </mat-menu>

                <mat-menu [hidden]="true" #otherMenu="matMenu" xPosition="before">
                    <button
                        (click)="collapseNavbar()"
                        [routerLinkActiveOptions]="{ exact: true }"
                        class="dropdown-item"
                        mat-menu-item
                        routerLink="catalogue"
                        routerLinkActive="active"
                    >
                        <fa-icon [fixedWidth]="true" icon="asterisk"></fa-icon>
                        <span>Catalogues</span>
                    </button>
                    <button
                        (click)="collapseNavbar()"
                        [routerLinkActiveOptions]="{ exact: true }"
                        class="dropdown-item"
                        mat-menu-item
                        routerLink="message"
                        routerLinkActive="active"
                    >
                        <fa-icon [fixedWidth]="true" icon="sticky-note"></fa-icon>
                        <span>Message</span>
                    </button>
                </mat-menu>
            </li>

            <!-- USER FOOD MENU -->
            <li
                *jhiHasAnyAuthority="'ROLE_USER'"
                [routerLinkActiveOptions]="{ exact: true }"
                class="nav-item dropdown pointer"
                display="dynamic"
                ngbDropdown
                routerLinkActive="active"
            >
                <button [matMenuTriggerFor]="foodMenu" class="nav-link dropdown-toggle" id="food-button"
                        mat-button>
                    <span>
                      <fa-icon icon="utensils"></fa-icon>
                      <span>Food</span>
                  </span>
                </button>
                <mat-menu #foodMenu="matMenu" xPosition="before">
                    <button
                        (click)="collapseNavbar()"
                        [routerLinkActiveOptions]="{ exact: true }"
                        class="dropdown-item"
                        mat-menu-item
                        routerLink="collection"
                        routerLinkActive="active"
                    >
                        <fa-icon [fixedWidth]="true" icon="bookmark"></fa-icon>
                        <span>My Collections</span>
                    </button>
                    <button
                        (click)="collapseNavbar()"
                        [routerLinkActiveOptions]="{ exact: true }"
                        class="dropdown-item"
                        mat-menu-item
                        routerLink="recipe/list"
                        routerLinkActive="active"
                    >
                        <span class="icon-recipe"></span>
                        <span>My Recipes</span>
                    </button>
                </mat-menu>
            </li>

            <!-- USER CART LINK -->
            <li  *jhiHasAnyAuthority="'ROLE_USER'"
                 [routerLinkActiveOptions]="{ exact: true }"
                 class="nav-item" routerLinkActive="active"
                 [hidden]="true"
            >
                <button
                    (click)="collapseNavbar()"
                    [routerLinkActiveOptions]="{ exact: true }"
                    class="nav-link"
                    mat-button
                    routerLink="cart"
                    routerLinkActive="active"
                >
                    <fa-icon [fixedWidth]="true" icon="cart-arrow-down"></fa-icon>
                    <span jhiTranslate="global.menu.entities.cart">Cart</span>
                </button>
            </li>

            <!-- MODERATOR MODERATION MENU -->
            <li  *jhiHasAnyAuthority="'ROLE_MODERATOR'"
                 [routerLinkActiveOptions]="{ exact: true }"
                 class="nav-item" routerLinkActive="active"
            >
                <button [matMenuTriggerFor]="moderationMenu" class="nav-link dropdown-toggle" id="mod-button"
                        mat-button>
                    <span>
                      <fa-icon [fixedWidth]="true" icon="users-cog"></fa-icon>
                      <span>Moderation</span>
                  </span>
                </button>
                <mat-menu #moderationMenu="matMenu" xPosition="before">
                    <button
                        (click)="collapseNavbar()"
                        [routerLinkActiveOptions]="{ exact: true }"
                        class="dropdown-item"
                        mat-menu-item
                        routerLink="report-type"
                        routerLinkActive="active"
                    >
                        <fa-icon [fixedWidth]="true" icon="flag"></fa-icon>
                        <span>Report Types</span>
                    </button>
                    <button
                        (click)="collapseNavbar()"
                        [routerLinkActiveOptions]="{ exact: true }"
                        class="dropdown-item"
                        mat-menu-item
                        routerLink="report-comment"
                        routerLinkActive="active"
                    >
                        <fa-icon [fixedWidth]="true" icon="flag"></fa-icon>
                        <span>Comment reports</span>
                    </button>
                    <button
                        (click)="collapseNavbar()"
                        [routerLinkActiveOptions]="{ exact: true }"
                        class="dropdown-item"
                        mat-menu-item
                        routerLink="report-post"
                        routerLinkActive="active"
                    >
                        <fa-icon [fixedWidth]="true" icon="flag"></fa-icon>
                        <span>Post reports</span>
                    </button>
                </mat-menu>
            </li>

            <!-- LANGUAGE MENU -->
            <li *ngIf="languages && languages.length > 1" class="nav-item dropdown pointer" display="dynamic"
                ngbDropdown>
                <button [matMenuTriggerFor]="languagesMenu" class="nav-link dropdown-toggle"
                        id="languagesnavBarDropdown"
                        mat-button>
                    <span>
                        <fa-icon icon="flag"></fa-icon>
                        <span jhiTranslate="global.menu.language">Language</span>
                    </span>
                </button>
                <mat-menu #languagesMenu="matMenu">
                    <button (click)="changeLanguage(language); collapseNavbar()" *ngFor="let language of languages"
                            [jhiActiveMenu]="language"
                            mat-menu-item>
                        {{ language | findLanguageFromKey }}
                    </button>
                </mat-menu>
            </li>

            <!-- ACCOUNT MENU -->
            <li
                [routerLinkActiveOptions]="{ exact: false }"
                class="nav-item dropdown pointer"
                display="dynamic"
                ngbDropdown
                routerLinkActive="active"
                *ngSwitchCase="false"
            >
                <button [matMenuTriggerFor]="accountMenu" class="nav-link dropdown-toggle" mat-button>
                  <span *ngIf="!getImageUrl()">
                    <fa-icon icon="user"></fa-icon>
                    <span jhiTranslate="global.menu.account.main"> Account </span>
                  </span>
                        <span *ngIf="getImageUrl()">
                    <img [src]="getImageUrl()" alt="Avatar" class="profile-image rounded-circle"/>
                  </span>
                </button>
                <mat-menu #accountMenu="matMenu">
                    <button (click)="login()" *ngSwitchCase="false" id="login" mat-menu-item>
                        <fa-icon [fixedWidth]="true" icon="sign-in-alt"></fa-icon>
                        <span jhiTranslate="global.menu.account.login">Sign in</span>
                    </button>
                    <button (click)="collapseNavbar()" *ngSwitchCase="false" mat-menu-item
                            routerLink="account/register" routerLinkActive="active">
                        <fa-icon [fixedWidth]="true" icon="user-plus"></fa-icon>
                        <span jhiTranslate="global.menu.account.register">Register</span>
                    </button>
                </mat-menu>
            </li>
            <li *ngSwitchCase="true" [routerLinkActiveOptions]="{ exact: true }" class="nav-item" routerLinkActive="active">
                <button *ngIf="currentAccount" (click)="logout()" class="nav-link" mat-button>
                  <span>
                    <fa-icon icon="sign-out-alt"></fa-icon>
                    <span>Sign out</span>
                  </span>
                </button>
            </li>
        </ul>
    </div>
</nav>
