<nav class="navbar navbar-light navbar-expand-md bg-secondary">
    <a (click)="collapseNavbar()" class="navbar-brand logo" routerLink="/">
        <span class="logo-img"></span>
        <span class="navbar-title" jhiTranslate="global.title">Shopped</span> <span
        class="navbar-version">{{ version }}</span>
    </a>
    <a
        (click)="toggleNavbar()"
        aria-controls="navbarResponsive"
        aria-expanded="false"
        aria-label="Toggle navigation"
        class="navbar-toggler d-lg-none"
        data-target="#navbarResponsive"
        data-toggle="collapse"
        href="javascript:void(0);"
    >
        <fa-icon icon="bars"></fa-icon>
    </a>
    <div [ngSwitch]="isAuthenticated()" [ngbCollapse]="isNavbarCollapsed" class="navbar-collapse collapse"
         id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li [routerLinkActiveOptions]="{ exact: true }" class="nav-item" routerLinkActive="active">
                <button (click)="collapseNavbar()" class="nav-link" mat-button routerLink="/">
                  <span>
                    <fa-icon icon="home"></fa-icon>
                    <span jhiTranslate="global.menu.home">Home</span>
                  </span>
                </button>
            </li>
            <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
            <li
                *ngSwitchCase="true"
                [routerLinkActiveOptions]="{ exact: true }"
                class="nav-item dropdown pointer"
                display="dynamic"
                ngbDropdown
                routerLinkActive="active"
            >
                <button [matMenuTriggerFor]="entitiesMenu" class="nav-link dropdown-toggle" id="entity-menu"
                        mat-button>
                <span>
                  <fa-icon icon="th-list"></fa-icon>
                  <span jhiTranslate="global.menu.entities.main"> Entities </span>
                </span>
                </button>
                <mat-menu #entitiesMenu="matMenu">
                    <button
                        (click)="collapseNavbar()"
                        [routerLinkActiveOptions]="{ exact: true }"
                        class="dropdown-item"
                        mat-menu-item
                        routerLink="user-profile"
                        routerLinkActive="active"
                    >
                        <fa-icon [fixedWidth]="true" icon="asterisk"></fa-icon>
                        <span jhiTranslate="global.menu.entities.userProfile">User Profile</span>
                    </button>
                    <button
                        (click)="collapseNavbar()"
                        [routerLinkActiveOptions]="{ exact: true }"
                        class="dropdown-item"
                        mat-menu-item
                        routerLink="cookies"
                        routerLinkActive="active"
                    >
                        <fa-icon [fixedWidth]="true" icon="asterisk"></fa-icon>
                        <span jhiTranslate="global.menu.entities.cookies">Cookies</span>
                    </button>
                    <button
                        (click)="collapseNavbar()"
                        [routerLinkActiveOptions]="{ exact: true }"
                        class="dropdown-item"
                        mat-menu-item
                        routerLink="follower"
                        routerLinkActive="active"
                    >
                        <fa-icon [fixedWidth]="true" icon="asterisk"></fa-icon>
                        <span jhiTranslate="global.menu.entities.follower">Follower</span>
                    </button>
                    <button
                        (click)="collapseNavbar()"
                        [routerLinkActiveOptions]="{ exact: true }"
                        class="dropdown-item"
                        mat-menu-item
                        routerLink="transaction"
                        routerLinkActive="active"
                    >
                        <fa-icon [fixedWidth]="true" icon="asterisk"></fa-icon>
                        <span jhiTranslate="global.menu.entities.transaction">Transaction</span>
                    </button>
                    <button
                        (click)="collapseNavbar()"
                        [routerLinkActiveOptions]="{ exact: true }"
                        class="dropdown-item"
                        mat-menu-item
                        routerLink="notification-type"
                        routerLinkActive="active"
                    >
                        <fa-icon [fixedWidth]="true" icon="asterisk"></fa-icon>
                        <span jhiTranslate="global.menu.entities.notificationType">Notification Type</span>
                    </button>
                    <button
                        (click)="collapseNavbar()"
                        [routerLinkActiveOptions]="{ exact: true }"
                        class="dropdown-item"
                        mat-menu-item
                        routerLink="notification"
                        routerLinkActive="active"
                    >
                        <fa-icon [fixedWidth]="true" icon="asterisk"></fa-icon>
                        <span jhiTranslate="global.menu.entities.notification">Notification</span>
                    </button>
                    <button
                        (click)="collapseNavbar()"
                        [routerLinkActiveOptions]="{ exact: true }"
                        class="dropdown-item"
                        mat-menu-item
                        routerLink="commendation"
                        routerLinkActive="active"
                    >
                        <fa-icon [fixedWidth]="true" icon="asterisk"></fa-icon>
                        <span jhiTranslate="global.menu.entities.commendation">Commendation</span>
                    </button>
                    <button
                        (click)="collapseNavbar()"
                        [routerLinkActiveOptions]="{ exact: true }"
                        class="dropdown-item"
                        mat-menu-item
                        routerLink="log-type"
                        routerLinkActive="active"
                    >
                        <fa-icon [fixedWidth]="true" icon="asterisk"></fa-icon>
                        <span jhiTranslate="global.menu.entities.logType">Log Type</span>
                    </button>
                    <button
                        (click)="collapseNavbar()"
                        [routerLinkActiveOptions]="{ exact: true }"
                        class="dropdown-item"
                        mat-menu-item
                        routerLink="log"
                        routerLinkActive="active"
                    >
                        <fa-icon [fixedWidth]="true" icon="asterisk"></fa-icon>
                        <span jhiTranslate="global.menu.entities.log">Log</span>
                    </button>
                    <button
                        (click)="collapseNavbar()"
                        [routerLinkActiveOptions]="{ exact: true }"
                        class="dropdown-item"
                        mat-menu-item
                        routerLink="cart"
                        routerLinkActive="active"
                    >
                        <fa-icon [fixedWidth]="true" icon="asterisk"></fa-icon>
                        <span jhiTranslate="global.menu.entities.cart">Cart</span>
                    </button>
                    <button
                        (click)="collapseNavbar()"
                        [routerLinkActiveOptions]="{ exact: true }"
                        class="dropdown-item"
                        mat-menu-item
                        routerLink="cart-has-recipe"
                        routerLinkActive="active"
                    >
                        <fa-icon [fixedWidth]="true" icon="asterisk"></fa-icon>
                        <span jhiTranslate="global.menu.entities.cartHasRecipe">Cart Has Recipe</span>
                    </button>
                    <button
                        (click)="collapseNavbar()"
                        [routerLinkActiveOptions]="{ exact: true }"
                        class="dropdown-item"
                        mat-menu-item
                        routerLink="comment"
                        routerLinkActive="active"
                    >
                        <fa-icon [fixedWidth]="true" icon="asterisk"></fa-icon>
                        <span jhiTranslate="global.menu.entities.comment">Comment</span>
                    </button>
                    <button
                        (click)="collapseNavbar()"
                        [routerLinkActiveOptions]="{ exact: true }"
                        class="dropdown-item"
                        mat-menu-item
                        routerLink="report-type"
                        routerLinkActive="active"
                    >
                        <fa-icon [fixedWidth]="true" icon="asterisk"></fa-icon>
                        <span jhiTranslate="global.menu.entities.reportType">Report Type</span>
                    </button>
                    <button
                        (click)="collapseNavbar()"
                        [routerLinkActiveOptions]="{ exact: true }"
                        class="dropdown-item"
                        mat-menu-item
                        routerLink="report-comment"
                        routerLinkActive="active"
                    >
                        <fa-icon [fixedWidth]="true" icon="asterisk"></fa-icon>
                        <span jhiTranslate="global.menu.entities.reportComment">Report Comment</span>
                    </button>
                    <button
                        (click)="collapseNavbar()"
                        [routerLinkActiveOptions]="{ exact: true }"
                        class="dropdown-item"
                        mat-menu-item
                        routerLink="report-post"
                        routerLinkActive="active"
                    >
                        <fa-icon [fixedWidth]="true" icon="asterisk"></fa-icon>
                        <span jhiTranslate="global.menu.entities.reportPost">Report Post</span>
                    </button>
                    <button
                        (click)="collapseNavbar()"
                        [routerLinkActiveOptions]="{ exact: true }"
                        class="dropdown-item"
                        mat-menu-item
                        routerLink="recipe"
                        routerLinkActive="active"
                    >
                        <fa-icon [fixedWidth]="true" icon="asterisk"></fa-icon>
                        <span jhiTranslate="global.menu.entities.recipe">Recipe</span>
                    </button>
                    <button
                        (click)="collapseNavbar()"
                        [routerLinkActiveOptions]="{ exact: true }"
                        class="dropdown-item"
                        mat-menu-item
                        routerLink="recipe-shared"
                        routerLinkActive="active"
                    >
                        <fa-icon [fixedWidth]="true" icon="asterisk"></fa-icon>
                        <span jhiTranslate="global.menu.entities.recipeShared">Recipe Shared</span>
                    </button>
                    <button
                        (click)="collapseNavbar()"
                        [routerLinkActiveOptions]="{ exact: true }"
                        class="dropdown-item"
                        mat-menu-item
                        routerLink="collection"
                        routerLinkActive="active"
                    >
                        <fa-icon [fixedWidth]="true" icon="asterisk"></fa-icon>
                        <span jhiTranslate="global.menu.entities.collection">Collection</span>
                    </button>
                    <button
                        (click)="collapseNavbar()"
                        [routerLinkActiveOptions]="{ exact: true }"
                        class="dropdown-item"
                        mat-menu-item
                        routerLink="collection-has-recipe"
                        routerLinkActive="active"
                    >
                        <fa-icon [fixedWidth]="true" icon="asterisk"></fa-icon>
                        <span jhiTranslate="global.menu.entities.collectionHasRecipe">Collection Has Recipe</span>
                    </button>
                    <button
                        (click)="collapseNavbar()"
                        [routerLinkActiveOptions]="{ exact: true }"
                        class="dropdown-item"
                        mat-menu-item
                        routerLink="ingredient"
                        routerLinkActive="active"
                    >
                        <fa-icon [fixedWidth]="true" icon="asterisk"></fa-icon>
                        <span jhiTranslate="global.menu.entities.ingredient">Ingredient</span>
                    </button>
                    <button
                        (click)="collapseNavbar()"
                        [routerLinkActiveOptions]="{ exact: true }"
                        class="dropdown-item"
                        mat-menu-item
                        routerLink="recipe-has-ingredient"
                        routerLinkActive="active"
                    >
                        <fa-icon [fixedWidth]="true" icon="asterisk"></fa-icon>
                        <span jhiTranslate="global.menu.entities.recipeHasIngredient">Recipe Has Ingredient</span>
                    </button>
                    <button
                        (click)="collapseNavbar()"
                        [routerLinkActiveOptions]="{ exact: true }"
                        class="dropdown-item"
                        mat-menu-item
                        routerLink="cart-has-ingredient"
                        routerLinkActive="active"
                    >
                        <fa-icon [fixedWidth]="true" icon="asterisk"></fa-icon>
                        <span jhiTranslate="global.menu.entities.cartHasIngredient">Cart Has Ingredient</span>
                    </button>
                    <button
                        (click)="collapseNavbar()"
                        [routerLinkActiveOptions]="{ exact: true }"
                        class="dropdown-item"
                        mat-menu-item
                        routerLink="tag-type"
                        routerLinkActive="active"
                    >
                        <fa-icon [fixedWidth]="true" icon="asterisk"></fa-icon>
                        <span jhiTranslate="global.menu.entities.tagType">Tag Type</span>
                    </button>
                    <button
                        (click)="collapseNavbar()"
                        [routerLinkActiveOptions]="{ exact: true }"
                        class="dropdown-item"
                        mat-menu-item
                        routerLink="recipe-tag"
                        routerLinkActive="active"
                    >
                        <fa-icon [fixedWidth]="true" icon="asterisk"></fa-icon>
                        <span jhiTranslate="global.menu.entities.recipeTag">Recipe Tag</span>
                    </button>
                    <button
                        (click)="collapseNavbar()"
                        [routerLinkActiveOptions]="{ exact: true }"
                        class="dropdown-item"
                        mat-menu-item
                        routerLink="recipe-has-recipe-tag"
                        routerLinkActive="active"
                    >
                        <fa-icon [fixedWidth]="true" icon="asterisk"></fa-icon>
                        <span jhiTranslate="global.menu.entities.recipeHasRecipeTag">Recipe Has Recipe Tag</span>
                    </button>
                    <button
                        (click)="collapseNavbar()"
                        [routerLinkActiveOptions]="{ exact: true }"
                        class="dropdown-item"
                        mat-menu-item
                        routerLink="ingredient-tag"
                        routerLinkActive="active"
                    >
                        <fa-icon [fixedWidth]="true" icon="asterisk"></fa-icon>
                        <span jhiTranslate="global.menu.entities.ingredientTag">Ingredient Tag</span>
                    </button>
                    <button
                        (click)="collapseNavbar()"
                        [routerLinkActiveOptions]="{ exact: true }"
                        class="dropdown-item"
                        mat-menu-item
                        routerLink="ingredient-has-ingredient-tag"
                        routerLinkActive="active"
                    >
                        <fa-icon [fixedWidth]="true" icon="asterisk"></fa-icon>
                        <span jhiTranslate="global.menu.entities.ingredientHasIngredientTag">Ingredient Has Ingredient Tag</span>
                    </button>
                    <button
                        (click)="collapseNavbar()"
                        [routerLinkActiveOptions]="{ exact: true }"
                        class="dropdown-item"
                        mat-menu-item
                        routerLink="award"
                        routerLinkActive="active"
                    >
                        <fa-icon [fixedWidth]="true" icon="asterisk"></fa-icon>
                        <span jhiTranslate="global.menu.entities.award">Award</span>
                    </button>
                    <button
                        (click)="collapseNavbar()"
                        [routerLinkActiveOptions]="{ exact: true }"
                        class="dropdown-item"
                        mat-menu-item
                        routerLink="post"
                        routerLinkActive="active"
                    >
                        <fa-icon [fixedWidth]="true" icon="asterisk"></fa-icon>
                        <span jhiTranslate="global.menu.entities.post">Post</span>
                    </button>
                    <button
                        (click)="collapseNavbar()"
                        [routerLinkActiveOptions]="{ exact: true }"
                        class="dropdown-item"
                        mat-menu-item
                        routerLink="bite"
                        routerLinkActive="active"
                    >
                        <fa-icon [fixedWidth]="true" icon="asterisk"></fa-icon>
                        <span jhiTranslate="global.menu.entities.bite">Bite</span>
                    </button>
                    <button
                        (click)="collapseNavbar()"
                        [routerLinkActiveOptions]="{ exact: true }"
                        class="dropdown-item"
                        mat-menu-item
                        routerLink="message"
                        routerLinkActive="active"
                    >
                        <fa-icon [fixedWidth]="true" icon="asterisk"></fa-icon>
                        <span jhiTranslate="global.menu.entities.message">Message</span>
                    </button>
                    <button
                        (click)="collapseNavbar()"
                        [routerLinkActiveOptions]="{ exact: true }"
                        class="dropdown-item"
                        mat-menu-item
                        routerLink="catalogue"
                        routerLinkActive="active"
                    >
                        <fa-icon [fixedWidth]="true" icon="asterisk"></fa-icon>
                        <span jhiTranslate="global.menu.entities.catalogue">Catalogue</span>
                    </button>
                    <button
                        (click)="collapseNavbar()"
                        [routerLinkActiveOptions]="{ exact: true }"
                        class="dropdown-item"
                        mat-menu-item
                        routerLink="unit"
                        routerLinkActive="active"
                    >
                        <fa-icon [fixedWidth]="true" icon="asterisk"></fa-icon>
                        <span jhiTranslate="global.menu.entities.unit">Unit</span>
                    </button>
                    <button
                        (click)="collapseNavbar()"
                        [routerLinkActiveOptions]="{ exact: true }"
                        class="dropdown-item"
                        mat-menu-item
                        routerLink="bundle"
                        routerLinkActive="active"
                    >
                        <fa-icon [fixedWidth]="true" icon="asterisk"></fa-icon>
                        <span jhiTranslate="global.menu.entities.bundle">Bundle</span>
                    </button>
                    <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                </mat-menu>
            </li>
            <li
                *jhiHasAnyAuthority="'ROLE_ADMIN'"
                [routerLinkActiveOptions]="{ exact: true }"
                class="nav-item dropdown pointer"
                display="dynamic"
                ngbDropdown
                routerLinkActive="active"
            >
                <button [matMenuTriggerFor]="adminMenu" class="nav-link dropdown-toggle" id="admin-menu"
                        mat-button>
            <span>
              <fa-icon icon="user-plus"></fa-icon>
              <span jhiTranslate="global.menu.admin.main">Administration</span>
          </span>
                </button>
                <mat-menu #adminMenu="matMenu">
                    <button (click)="collapseNavbar()" mat-menu-item routerLink="admin/user-management"
                            routerLinkActive="active">
                        <fa-icon [fixedWidth]="true" icon="user"></fa-icon>
                        <span jhiTranslate="global.menu.admin.userManagement">User management</span>
                    </button>
                    <button (click)="collapseNavbar()" mat-menu-item routerLink="admin/metrics"
                            routerLinkActive="active">
                        <fa-icon [fixedWidth]="true" icon="tachometer-alt"></fa-icon>
                        <span jhiTranslate="global.menu.admin.metrics">Metrics</span>
                    </button>
                    <button (click)="collapseNavbar()" mat-menu-item routerLink="admin/health"
                            routerLinkActive="active">
                        <fa-icon [fixedWidth]="true" icon="heart"></fa-icon>
                        <span jhiTranslate="global.menu.admin.health">Health</span>
                    </button>
                    <button (click)="collapseNavbar()" mat-menu-item routerLink="admin/configuration"
                            routerLinkActive="active">
                        <fa-icon [fixedWidth]="true" icon="list"></fa-icon>
                        <span jhiTranslate="global.menu.admin.configuration">Configuration</span>
                    </button>
                    <button (click)="collapseNavbar()" mat-menu-item routerLink="admin/audits"
                            routerLinkActive="active">
                        <fa-icon [fixedWidth]="true" icon="bell"></fa-icon>
                        <span jhiTranslate="global.menu.admin.audits">Audits</span>
                    </button>
                    <button (click)="collapseNavbar()" mat-menu-item routerLink="admin/logs" routerLinkActive="active">
                        <fa-icon [fixedWidth]="true" icon="tasks"></fa-icon>
                        <span jhiTranslate="global.menu.admin.logs">Logs</span>
                    </button>
                    <button (click)="collapseNavbar()" *ngIf="swaggerEnabled" mat-menu-item routerLink="admin/docs"
                            routerLinkActive="active">
                        <fa-icon [fixedWidth]="true" icon="book"></fa-icon>
                        <span jhiTranslate="global.menu.admin.apidocs">API</span>
                    </button>
                    <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                </mat-menu>
            </li>
            <li *ngIf="languages && languages.length > 1" class="nav-item dropdown pointer" display="dynamic"
                ngbDropdown>
                <button [matMenuTriggerFor]="languagesMenu" class="nav-link dropdown-toggle"
                        id="languagesnavBarDropdown"
                        mat-button>
            <span>
                <fa-icon icon="flag"></fa-icon>
                <span jhiTranslate="global.menu.language">Language</span>
            </span>
                </button>
                <mat-menu #languagesMenu="matMenu">
                    <button (click)="changeLanguage(language); collapseNavbar()" *ngFor="let language of languages"
                            [jhiActiveMenu]="language"
                            mat-menu-item>
                        {{ language | findLanguageFromKey }}
                    </button>
                </mat-menu>
            </li>
            <li
                [routerLinkActiveOptions]="{ exact: true }"
                class="nav-item dropdown pointer"
                display="dynamic"
                ngbDropdown
                routerLinkActive="active"
            >
                <button [matMenuTriggerFor]="accountMenu" class="nav-link dropdown-toggle" mat-button>
              <span *ngIf="!getImageUrl()">
                <fa-icon icon="user"></fa-icon>
                <span jhiTranslate="global.menu.account.main"> Account </span>
              </span>
                    <span *ngIf="getImageUrl()">
                <img [src]="getImageUrl()" alt="Avatar" class="profile-image rounded-circle"/>
              </span>
                </button>
                <mat-menu #accountMenu="matMenu">
                    <button (click)="collapseNavbar()" *ngSwitchCase="true" mat-menu-item routerLink="account/settings"
                            routerLinkActive="active">
                        <fa-icon [fixedWidth]="true" icon="wrench"></fa-icon>
                        <span jhiTranslate="global.menu.account.settings">Settings</span>
                    </button>
                    <button (click)="collapseNavbar()" *ngSwitchCase="true" mat-menu-item
                            [routerLink]="['/account/profile', 1]"
                            routerLinkActive="active">
                        <fa-icon [fixedWidth]="true" icon="user"></fa-icon>
                        <span jhiTranslate="global.menu.account.profile">Profile</span>
                    </button>
                    <button (click)="collapseNavbar()" *ngSwitchCase="true" mat-menu-item
                            routerLink="account/password" routerLinkActive="active">
                        <fa-icon [fixedWidth]="true" icon="lock"></fa-icon>
                        <span jhiTranslate="global.menu.account.password">Password</span>
                    </button>
                    <button (click)="collapseNavbar()" *ngSwitchCase="true" mat-menu-item
                            routerLink="account/sessions" routerLinkActive="active">
                        <fa-icon [fixedWidth]="true" icon="cloud"></fa-icon>
                        <span jhiTranslate="global.menu.account.sessions">Sessions</span>
                    </button>
                    <button (click)="logout()" *ngSwitchCase="true" id="logout" mat-menu-item>
                        <fa-icon [fixedWidth]="true" icon="sign-out-alt"></fa-icon>
                        <span jhiTranslate="global.menu.account.logout">Sign out</span>
                    </button>
                    <button (click)="login()" *ngSwitchCase="false" id="login" mat-menu-item>
                        <fa-icon [fixedWidth]="true" icon="sign-in-alt"></fa-icon>
                        <span jhiTranslate="global.menu.account.login">Sign in</span>
                    </button>
                    <button (click)="collapseNavbar()" *ngSwitchCase="false" mat-menu-item
                            routerLink="account/register" routerLinkActive="active">
                        <fa-icon [fixedWidth]="true" icon="user-plus"></fa-icon>
                        <span jhiTranslate="global.menu.account.register">Register</span>
                    </button>
                </mat-menu>
            </li>
        </ul>
    </div>
</nav>
