@import '~bootstrap/scss/functions';
@import '~bootswatch/dist/materia/variables';
@import '~bootstrap/scss/variables';
@import 'src/main/webapp/content/scss/vendor.scss';
/* ==========================================================================
Navbar
========================================================================== */

.navbar-version {
  font-size: 0.65em;
  color: $navbar-light-color;
}

.profile-image {
  height: 1.75em;
  width: 1.75em;
}

.navbar {
  padding: 0.2rem 1rem;
  .dropdown-item.active,
  .dropdown-item.active:focus,
  .dropdown-item.active:hover {
    background-color: $light;
  }

  ul.navbar-nav {
    .nav-item {
      margin-left: 0.5em;
    }
  }

  a.nav-link {
    font-weight: 400;
  }

  .navbar-toggler {
    &:hover {
      color: $navbar-light-hover-color;
    }
  }
}

/* ==========================================================================
Logo styles
========================================================================== */
.logo-img {
  height: 55px;
  width: 55px;
  display: inline-block;
  vertical-align: middle;
  background: url('../../../content/images/logo-shopped-boton-redondo-300x300.png') no-repeat center center;
  background-size: contain;
}

fa-icon {
  color: $primary;
}

.icon-recipe {
  height: 16px;
  width: 16px;
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  background: url('../../../content/images/recipe-orange-icon.png') no-repeat center center;
  background-size: contain;
  margin-right: 2px;
}
