<div class="container tab-container mt-4">
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <div>
            <h2 class="text-left">
                Analitics
            </h2>
        </div>
        <div>
            <button (click)="makeDaily()" class="mr-2" color="accent" mat-raised-button>Daily</button>
            <button (click)="makeWeekly()" class="mr-2" color="accent" mat-raised-button>Weekly</button>
            <button (click)="makeMonthly()" color="accent" mat-raised-button>Monthly</button>
        </div>
    </div>
    <div class="flex-row d-flex flxW">
        <div align="center" class="col tab-container align-items-center">
            <mat-card class="">
                <h4>Cookie Income/Expenses</h4>
                <mat-card-content>
                    <jhi-pie-chart
                        [pieChartData]="data"
                        [pieChartLabels]="labels"
                        [width]="520">
                    </jhi-pie-chart>
                </mat-card-content>
            </mat-card>
        </div>
        <div align="center" class="col tab-container align-items-center">
            <mat-card class="">
                <h4>App Income/Expenses</h4>
                <mat-card-content>
                    <jhi-pie-chart
                        [pieChartData]="moneyData"
                        [pieChartLabels]="moneyLabels"
                        [width]="520">
                    </jhi-pie-chart>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="flex-row mt-4 d-flex flxW">
        <div class="col-8 constHeight align-items-center">
            <mat-card class="h-100">
                <h4>Awards</h4>
                <mat-card-content align="center">
                    <jhi-bar-chart
                        [barChartData]="barData"
                        [barChartLabels]="barLabel"
                        [width]="700">
                    </jhi-bar-chart>

                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-4 constHeight align-items-center">
            <mat-card class="h-100">
                <h4>Trending</h4>
                <mat-card-content>
                    <mat-selection-list #awards [multiple]="false">
                        <mat-list-option *ngFor="let key of keys" [value]="">
                            <div class="justify-content-center padT">
                                <div class="float-left">{{key}}</div>
                                <div class="float-right">{{commendation[key]}}</div>
                            </div>
                        </mat-list-option>
                    </mat-selection-list>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <mat-divider></mat-divider>
<!--    <div class="row mt-4">-->
<!--        <div class="col-8 constHeight">-->
<!--            <jhi-ingredient-recipes-chart [dated]="dated" [maxBars]="8"></jhi-ingredient-recipes-chart>-->
<!--        </div>-->
<!--    </div>-->
    <mat-divider></mat-divider>
    <div class="row mt-3 table-transac">
        <div class="col">
            <jhi-view-transactions></jhi-view-transactions>
        </div>
    </div>

</div>
