<div>
    <h2 id="page-heading">
        <span jhiTranslate="shoppedApp.reportPost.home.title">Report Posts</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-report-post" [routerLink]="['/report-post/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="shoppedApp.reportPost.home.createLabel">
            Create a new Report Post
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="reportPosts?.length === 0">
        <span jhiTranslate="shoppedApp.reportPost.home.notFound">No reportPosts found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="reportPosts && reportPosts.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="created"><span jhiTranslate="shoppedApp.reportPost.created">Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="status"><span jhiTranslate="shoppedApp.reportPost.status">Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="typeName"><span jhiTranslate="shoppedApp.reportPost.type">Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="postCaption"><span jhiTranslate="shoppedApp.reportPost.post">Post</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userLogin"><span jhiTranslate="shoppedApp.reportPost.user">User</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let reportPost of reportPosts ;trackBy: trackId">
                    <td><a [routerLink]="['/report-post', reportPost.id, 'view']">{{ reportPost.id }}</a></td>
                    <td>{{ reportPost.created | date:'medium' }}</td>
                    <td jhiTranslate="{{ 'shoppedApp.Status.' + reportPost.status }}">{{ reportPost.status }}</td>
                    <td>
                        <div *ngIf="reportPost.typeId">
                            <a [routerLink]="['/report-type', reportPost.typeId , 'view']" >{{ reportPost.typeName }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="reportPost.postId">
                            <a [routerLink]="['/post', reportPost.postId , 'view']" >{{ reportPost.postCaption }}</a>
                        </div>
                    </td>
                    <td>
                        {{ reportPost.userLogin }}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/report-post', reportPost.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/report-post', reportPost.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(reportPost)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="reportPosts && reportPosts.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
