.img-award-list {
  height: 24px;
  width: 24px;
}
.awardBox {
  max-width: 72px;
}

.btn-awards {
  width: 24px;
  height: 24px;
  opacity: 0.4;
  padding-bottom: 3px;
  border-radius: 50%;
  background: #87643e;
  border: none;
  color: white;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  padding-top: 2px;
}
