<div *ngIf="account === null">

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img
                alt="Cooking outside"
                class="d-block w-100"
                src="/content/images/lp-1.jpg"/>
            <div class="carousel-item-content" fxLayout="column" fxLayoutAlign="center center">
                <h1 class="mat-display-3 text-center">Start your culinary journey</h1>
                <button class="text-white" color="primary" mat-raised-button routerLink="account/register">
                    <span jhiTranslate="global.menu.account.register">Register</span>
                </button>
            </div>
        </div>
    </div>

    <div class="my-4" fxLayout="column" fxLayoutAlign="center center">
        <img alt="Shopped logo" class="title-img" src="/content/images/logo-shopped-700X471.png"/>
    </div>

    <div class="card-container" fxLayout="column" fxLayoutAlign="none center" fxLayoutGap="24px">

        <section class="mat-elevation-z3" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
                 fxLayoutAlign="start none">
            <img alt="Girl cooking" class="sct-img" fxFlex="40"
                 fxFlex.lt-md="auto"
                 src="/content/images/lp-2.jpg"/>
            <div fxFlex fxLayout="column" fxLayoutAlign="center center">
                <h1>Make your own recipes!</h1>
                <p>Easy and simple. Just write down the necessary steps for your friends to follow</p>
            </div>
        </section>

        <section class="mat-elevation-z3" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
                 fxLayoutAlign="start none">
            <img
                alt="Ingredient table"
                class="sct-img middle"
                fxFlex="40"
                fxFlex.lt-md="auto"
                fxFlexOrder="1"
                fxFlexOrder.gt-sm="2"
                src="/content/images/lp-3.jpg"
            />
            <div fxFlex fxFlexOrder="2" fxFlexOrder.gt-sm="1" fxLayout="column" fxLayoutAlign="center center">
                <h1>Share your recipes!</h1>
                <p>Nothing is more fun than sharing your little secrets and cooking tips with people from all over the
                    world</p>
            </div>
        </section>

        <section class="mat-elevation-z3" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
                 fxLayoutAlign="start none">
            <img alt="Break shaped like a heart" class="sct-img" fxFlex="40"
                 fxFlex.lt-md="auto"
                 src="/content/images/lp-4.jpg"/>
            <div fxFlex fxLayout="column" fxLayoutAlign="center center">
                <h1>Earn awards!</h1>
                <p>Win real money with our prize system, where the best recipes are awarded by the community</p>
            </div>
        </section>
    </div>
</div>
<div *ngIf="account">
    <jhi-post-home></jhi-post-home>
</div>
