<div class="row">

    <div *ngIf="account === null" class="container-fluid">
        <ngb-carousel>
            <ng-template ngbSlide>
                <a href="account/register"><div class="wrapper slide-1"></div></a>
                <div class="carousel-caption"></div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="wrapper slide-2"></div>
                <div class="carousel-caption"></div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="wrapper slide-3"></div>
                <div class="carousel-caption"></div>
            </ng-template>
        </ngb-carousel>
    </div>
    <div *ngIf="account">

        <h2>post</h2>
    </div>

</div>
