<div class="mt-3" fxLayout fxLayoutAlign="space-between center">
    <mat-form-field appearance="fill" fxFlex="100%">
        <mat-label>
            Search
        </mat-label>
        <mat-icon matSuffix>search</mat-icon>
        <input (keyup)="filter($event)" matInput placeholder="Type a text filter" type="text">
    </mat-form-field>
    <button
        [matTooltipHideDelay]="0"
        [matTooltipShowDelay]="1000"
        [routerLink]="['/award/new']"
        aria-label="Create a new award"
        class="float-right jh-create-entity create-recipe-tag mx-4 mb-3"
        jhiMaterialColor="accent"
        mat-mini-fab
        matTooltip="Create a new award">
        <mat-icon>add</mat-icon>
    </button>
</div>
<jhi-wrapper-material-table #sort="matSort" [columns]="displayedColumns"
                            [dataSource]="dataSource" matSort>
<!--    <ng-container matColumnDef="id">-->
<!--        <th *matHeaderCellDef mat-header-cell mat-sort-header>ID</th>-->
<!--        <td *matCellDef="let element" mat-cell>-->
<!--            <span>-->
<!--                <a [routerLink]="['./', element.id, 'view']">{{ element.id }}</a>-->
<!--            </span>-->
<!--        </td>-->
<!--    </ng-container>-->

    <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Name</th>
        <td *matCellDef="let element" mat-cell>
            <span>
                {{ element.name }}
            </span>
        </td>
    </ng-container>


    <ng-container matColumnDef="description">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Description</th>
        <td *matCellDef="let element" mat-cell>
            <span>
                {{ element.description }}
            </span>
        </td>
    </ng-container>

    <ng-container matColumnDef="cost">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Cost</th>
        <td *matCellDef="let element" mat-cell>
            <span>
                {{ element.cost }}
            </span>
        </td>
    </ng-container>

    <ng-container matColumnDef="image">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Image</th>
        <td *matCellDef="let element" mat-cell>
            <span>
                <img [src]="'data:' + element.imageContentType + ';base64,' + element.image" style="max-height: 40px;" alt="award image"/>
            </span>
        </td>
    </ng-container>

    <ng-container matColumnDef="status">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Status</th>
        <td *matCellDef="let element" mat-cell>
            <div [ngSwitch]="element.status">
                <button (click)="managementComponent.setStatus(element, true)" *ngSwitchCase="'ACTIVE'"
                        class="text-white" jhiMaterialColor="success"
                        mat-mini-fab>
                    <mat-icon>toggle_on</mat-icon>
                </button>
                <button (click)="managementComponent.setStatus(element, false)" *ngSwitchDefault class="text-white"
                        color="warn"
                        mat-mini-fab>
                    <mat-icon>toggle_off</mat-icon>
                </button>
            </div>
        </td>
    </ng-container>

    <ng-container class="text-right" matColumnDef="options">
        <th *matHeaderCellDef class="text-center" mat-header-cell> Options</th>
        <td *matCellDef="let element" mat-cell>
            <div class="w-100" fxLayout="row" fxLayoutAlign="center center">
                <button [routerLink]="['/award/', element.id, 'view']"
                        class="text-white"
                        jhiMaterialColor="secondary"
                        mat-mini-fab
                        type="submit"
                >
                    <mat-icon>launch</mat-icon>
                </button>

                <button [routerLink]="['/award/', element.id, 'edit']"
                        class="text-white ml-3"
                        color="primary"
                        mat-mini-fab
                        type="submit">
                    <mat-icon>create</mat-icon>
                </button>

                <button (click)="managementComponent.delete(element)"
                        class="text-white"
                        jhiMaterialColor="warn"
                        mat-mini-fab
                        type="submit">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
        </td>
    </ng-container>
    <!-- Custom row definitions to be provided to the wrapper table. -->
    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns; " mat-row></tr>
</jhi-wrapper-material-table>
<div #paginator1 *ngIf="dataSource.data && dataSource.data.length > 0 && managementComponent.tableLoaded">
    <mat-paginator (page)="managementComponent.changePage($event.pageIndex);
                    managementComponent.changePageSize($event.pageSize);
                    managementComponent.navigate()"
                   *ngIf="managementComponent.tableLoaded"
                   [length]="managementComponent.totalItems"
                   [pageIndex]="managementComponent.page"
                   [pageSizeOptions]="[5, 10, 20, 50, 100]"
                   [pageSize]="managementComponent.itemsPerPage">
    </mat-paginator>
</div>
