<div class="modal-header">
    <h4 class="modal-title" jhiTranslate="entity.delete.title">
        {{ collection?.name }} collection
    </h4>

    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            (click)="cancel()">&times;</button>
</div>
<div class="modal-body">
    <div class="" style="min-height: 400px">
        <h2 id="page-heading">
            <span>My Collections</span>
            <button *ngIf="collection"
                    [matTooltipHideDelay]="0"
                    [matTooltipShowDelay]="1000"
                    (click)="create()"
                    aria-label="Add a recipe"
                    class="float-right jh-create-entity create-recipe-tag mx-4 mb-3"
                    jhiMaterialColor="accent"
                    mat-mini-fab
                    matTooltip="Add a recipe">
                <mat-icon>add</mat-icon>
            </button>
        </h2>

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <div *ngIf="requesting"
             class="w-100" fxLayout="row" fxLayoutAlign="space-around center">
            <mat-spinner diameter="50" strokeWidth="5"></mat-spinner>
        </div>

        <dl class="jh-entity-details" *ngIf="recipes">
            <div class="mt-3" fxLayout fxLayoutAlign="space-between center">
                <mat-form-field appearance="fill" fxFlex="100%">
                    <mat-label>
                        Search
                    </mat-label>
                    <mat-icon matSuffix>search</mat-icon>
                    <input [(ngModel)]="searchText"
                           matInput
                           placeholder="Type a text filter"
                           type="text">
                </mat-form-field>
            </div>
            <div class="recipe-card-content" fxLayout="row wrap" fxLayoutGap="6px grid">
                <div *ngFor="let recipe of recipes" fxFlex="100%" fxFlex.gt-sm="33%" fxFlex.sm="50%"
                     fxFlex.xs="100%">

                    <mat-card class="mat-elevation-z4 col-sm-12">

                        <mat-card-header>
                            <mat-card-title class="recipe-card-title">
                                {{ recipe.name }}
                            </mat-card-title>

                            <div class="recipe-card-disable-button">
                                <button aria-label="Close" data-dismiss="modal" class="close" type="button"
                                        (click)="delete(recipe)">
                                    <span aria-hidden="true">x</span>
                                </button>
                            </div>
                        </mat-card-header>

                        <a [routerLink]="['/recipe', recipe.id, 'view']">
                            <div *ngIf="recipe.image">
                                <div class="recipe-card-picture">
                                    <img [src]="'data:' + recipe.imageContentType + ';base64,' + recipe.image"
                                         alt="card image"/>
                                </div>
                            </div>
                            <div *ngIf="!recipe.image">
                                <div class="recipe-card-picture">
                                    <img alt="Shopped logo" alt="Shopped Logo"
                                         src='../../../content/images/placeholder-image.png'/>
                                </div>
                            </div>
                        </a>
                        <mat-card-content>
                            <div class="recipe-card-element-right">
                                <span class="recipe-card-icon-portion"></span>{{recipe.portion}}
                                <span class="recipe-card-icon-duration"></span>{{recipe.duration}} min
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </dl>

        <div class="alert alert-warning mt-4" id="no-result"
             *ngIf="recipes?.length === 0 || !recipes && !requesting">
            <span>No collections found</span>
        </div>
    </div>
</div>
