<form *ngIf="currentCollection && currentRecipe" name="deleteForm" (ngSubmit)="save()">
    <div class="modal-header">
        <h4 class="modal-title">Add recipe to collection</h4>

        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="cancel()">&times;</button>
    </div>

    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>

        <p id="jhi-delete-collectionHasRecipe-heading">
            Are you sure you want to add the recipe
            {{ currentRecipe.name }} to {{ currentCollection.name }} collection?
        </p>
    </div>

    <div class="modal-footer">
        <button type="button" class="text-white" mat-flat-button jhiMaterialColor="secondary" data-dismiss="modal" (click)="cancel()">
            <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <span class="mx-2"></span>
        <button id="jhi-confirm-delete-collectionHasRecipe" type="submit" class="text-white" mat-flat-button jhiMaterialColor="primary">
            <fa-icon icon="plus"></fa-icon>&nbsp;<span>Add</span>
        </button>
    </div>
</form>
