<div class="row justify-content-center">
    <div class="col-10">
        <button type="submit" class="btn btn-secondary" (click)="previousState()">
            <fa-icon icon="arrow-left"></fa-icon>
        </button>
    </div>
    <div class="col-8">

        <div *ngIf="post">
            <jhi-alert-error></jhi-alert-error>

            <mat-card class="card-recipe-profile">
                <mat-card-content class="containerX">
                    <div class="colorNested box" style="height: auto;">
                        <div
                            gdAreas.xs="recipePicture | socialInfo | userInfo | awardsButtons |
                                        caption | portions | ingredientsTitle| ingredientsList | addToCart | duration |
                                        instructionsTitle | instructionsList | exportButtons | biteButton | tagsList |
                                        reply | horizontalLine | commentsTitle | commentsList"
                            gdGap="1em"
                            gdColumns.xs="none"
                            gdAreas.sm="recipePicture recipePicture |
                                        socialInfo  awardsButtons |
                                        userInfo userInfo |
                                        caption caption |
                                        ingredientsTitle portions |
                                        ingredientsList ingredientsList |
                                        addToCart addToCart |
                                        instructionsTitle duration|
                                        instructionsList  instructionsList |
                                        exportButtons exportButtons |
                                        biteButton biteButton |
                                        tagsList tagsList |
                                        reply reply |
                                        commentsTitle commentsTitle |
                                        commentsList commentsList"
                            gdColumns.sm="50%!"
                            gdAreas.gt-sm="recipePicture recipePicture recipePicture |
                                           socialInfo userInfo awardsButtons |
                                           caption caption caption |
                                           ingredientsTitle ingredientsTitle portions |
                                           ingredientsList ingredientsList ingredientsList |
                                           addToCart addToCart addToCart |
                                           instructionsTitle instructionsTitle duration |
                                           instructionsList instructionsList instructionsList |
                                           exportButtons exportButtons exportButtons |
                                           biteButton biteButton biteButton |
                                           tagsList tagsList tagsList |
                                           reply reply reply |
                                           commentsTitle commentsTitle commentsTitle |
                                           commentsList commentsList commentsList"
                            gdColumns.gt-sm="200px auto 200px"
                            gdGap.gt-sm="20px"
                            [ngStyle]="{ 'max-width': 'auto' }"
                            [ngStyle.gt-sm]="{ 'max-width': '900px' }">
                            <div class="blocks-1 recipe-element-center recipe-picture" gdArea="recipePicture">recipePicture</div>
                            <div class="blocks-2 recipe-element-left" gdArea="socialInfo">Bites/Comments/Views</div>
                            <div class="blocks-3 recipe-element-right" gdArea="awardsButtons">Awards</div>
                            <div class="blocks-4 recipe-element-center" gdArea="userInfo">
                                <dd> By {{ post.userLogin }} <br/></dd>
                                <dd><span>{{ post.date | date:"mediumDate" }}</span></dd>
                            </div>
                            <div class="blocks-5 recipe-element-center" gdArea="caption">
                                <dd><div *ngIf="post.recipeId">
                                    <h2><b>{{ post.recipeName }}</b></h2>
                                </div>
                                </dd>
                                <dd><span style="font-style: italic">{{ post.caption }}</span> </dd>
                            </div>

                            <div class="blocks-6 recipe-element-left recipe-subtitle" gdArea="ingredientsTitle">Ingredients:</div>
                            <div class="blocks-7 recipe-element-right" gdArea="portions">Portions</div>
                            <hr>
                            <div class="blocks-8 recipe-element-center" gdArea="ingredientsList">ingredients list</div>

                            <hr>
                            <div class="blocks-9 recipe-element-center" gdArea="addToCart">Add to Shopping Cart</div>

                            <div class="blocks-10 recipe-element-left recipe-subtitle" gdArea="instructionsTitle">Instructions:</div>
                            <div class="blocks-11 recipe-element-right" gdArea="duration">Duration</div>

                            <div class="blocks-12 recipe-element-center recipe-instructions" gdArea="instructionsList">instructions list</div>

                            <div class="blocks-13 recipe-element-right" gdArea="exportButtons">
                                <button class="recipe-save-buttons" type="submit">
                                    <fa-icon icon="envelope"></fa-icon> Email
                                </button>
                                <button class="recipe-save-buttons" type="submit">
                                    <fa-icon icon="file-pdf"></fa-icon> PDF
                                </button>
                                <button class="recipe-save-buttons" type="submit">
                                    <fa-icon icon="bookmark"></fa-icon> Bookmark
                                </button>
                            </div>

                            <div class="blocks-14 recipe-element-center recipe-bite" gdArea="biteButton">
                                Tried this recipe? <br>
                                <span class="recipe-bite-text">Leave a bite if you like it!</span>
                            </div>

                            <div class="blocks-15 recipe-element-left recipe-subtitle" gdArea="tagsList">
                                <hr>
                                Tags:
                                <br><hr>
                            </div>

                            <div class="blocks-16 recipe-element-left recipe-reply" gdArea="reply">
                                Leave a reply:
                                <hr>
                            </div>

                            <div class="blocks-17 recipe-element-left recipe-subtitle" gdArea="commentsTitle">
                                Comments:
                                <br><hr>
                            </div>
                            <div class="blocks-18 recipe-element-center" gdArea="commentsList">Comments List</div>

                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
