<div class="row justify-content-center">
    <div class="col-10">
        <button type="submit" class="btn btn-secondary" (click)="previousState()">
            <fa-icon icon="arrow-left"></fa-icon>
        </button>
    </div>

    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-post-heading">{{ editForm.get('id')!.value !== undefined ? "Edit" : "Create" }}
                the public post for your recipe</h2>

            <br>
            <br>

            <div>
                <jhi-alert-error></jhi-alert-error>
                <jhi-alert></jhi-alert>

                <mat-form-field [hidden]="!editForm.get('id')!.value" appearance="fill" class="form-group w-100">
                    <mat-label jhiTranslate="global.field.id"></mat-label>
                    <input formControlName="id" id="id" matInput name="id" readonly type="text"/>
                </mat-form-field>

                <div [hidden]="true" class="form-group">
                    <label class="form-control-label" jhiTranslate="shoppedApp.post.date" for="field_date">Date</label>
                    <div class="d-flex">
                        <input id="field_date" type="datetime-local" class="form-control" name="date"
                               formControlName="date"
                               placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div
                        *ngIf="editForm.get('date')!.invalid && (editForm.get('date')!.dirty || editForm.get('date')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('date')?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.get('date')?.errors?.ZonedDateTimelocal"
                               jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <mat-form-field appearance="fill" class="form-group w-100">
                    <mat-label jhiTranslate="shoppedApp.post.recipe"></mat-label>
                    <mat-select formControlName="recipeId" id="field_recipe" name="recipe">
                        <mat-option *ngFor="let recipeOption of recipes; trackBy: trackById" [value]="recipeOption.id">
                            {{recipeOption.name }}
                        </mat-option>
                    </mat-select>
                    <mat-error
                        *ngIf="editForm.get('recipeId')!.invalid && (editForm.get('recipeId')!.dirty || editForm.get('recipeId')!.touched)"
                        jhiTranslate="entity.validation.required">
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="form-group w-100">
                    <mat-label jhiTranslate="shoppedApp.post.caption"></mat-label>
                    <input formControlName="caption" id="field_caption" matInput name="caption"
                           type="text"/>
                    <mat-error
                        *ngIf="(editForm.get('caption')!.invalid && (editForm.get('caption')!.dirty ||
                         editForm.get('caption')!.touched)) && editForm.get('caption')?.errors?.required"
                        jhiTranslate="entity.validation.required">
                        This field is required.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="form-group w-100">
                    <mat-label jhiTranslate="shoppedApp.post.user"></mat-label>
                    <mat-select formControlName="userId" id="field_user" name="user">
                        <mat-option *ngFor="let userOption of users; trackBy: trackById" [value]="userOption.id">
                            {{userOption.login }}
                        </mat-option>
                    </mat-select>
                    <mat-error
                        *ngIf="editForm.get('userId')!.invalid && (editForm.get('userId')!.dirty || editForm.get('userId')!.touched)"
                        jhiTranslate="entity.validation.required">
                    </mat-error>
                </mat-form-field>


                <mat-form-field appearance="fill" class="form-group w-100" >
                    <mat-label jhiTranslate="shoppedApp.post.status"></mat-label>
                    <mat-select [(ngModel)]="statusOptions[0]" formControlName="status" id="status" name="status">
                        <mat-option *ngFor="let status of statusOptions" [value]="status">
                            {{status | capitalize }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div>
                <!--
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving"
                        class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
                -->
                <button [disabled]="editForm.invalid || isSaving" id="save-entity" jhiMaterialColor="primary"
                        mat-raised-button
                        type="submit">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
