<div>
    <h2 id="page-heading">
        <span jhiTranslate="shoppedApp.tagType.home.title">Tag Types</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-tag-type" [routerLink]="['/tag-type/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="shoppedApp.tagType.home.createLabel">
            Create a new Tag Type
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="tagTypes?.length === 0">
        <span jhiTranslate="shoppedApp.tagType.home.notFound">No tagTypes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="tagTypes && tagTypes.length > 0">
        <jhi-tag-type-table [data]="tagTypes" [managementComponent]="this"></jhi-tag-type-table>
    </div>

    <div *ngIf="tagTypes && tagTypes.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
