<div class="row justify-content-center">
    <div class="col-8">
        <form (ngSubmit)="save()" [formGroup]="editForm" name="editForm" novalidate role="form">
            <h2 id="jhi-tag-type-heading" jhiTranslate="shoppedApp.tagType.home.createOrEditLabel">Create or edit a Tag
                Type</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div [hidden]="!editForm.get('id')!.value" class="form-group">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input class="form-control" formControlName="id" id="id" name="id" readonly type="text"/>
                </div>

                <mat-form-field appearance="fill" class="form-group w-100">
                    <mat-label jhiTranslate="shoppedApp.tagType.name"></mat-label>
                    <input formControlName="name" id="field_name" matInput name="name" type="text"/>
                    <mat-error
                        *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <span *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </span>
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="form-group w-100">
                    <mat-label jhiTranslate="shoppedApp.tagType.description"></mat-label>
                    <input formControlName="description" id="field_description" matInput name="description"
                           type="text"/>
                    <mat-error
                        *ngIf="editForm.get('description')!.invalid && (editForm.get('description')!.dirty || editForm.get('description')!.touched)">
                        This field is required.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="form-group w-100">
                    <mat-label jhiTranslate="shoppedApp.tagType.status"></mat-label>
                    <mat-select formControlName="status" id="status" name="status">
                        <mat-option *ngFor="let status of statusOptions" [value]="status">
                            {{status | capitalize }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div>
                <button mat-raised-button jhiMaterialColor="danger" (click)="previousState()" id="cancel-save" type="button">
                    <fa-icon icon="ban"></fa-icon> <span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button mat-raised-button jhiMaterialColor="primary" [disabled]="editForm.invalid || isSaving" id="save-entity"
                        type="submit">
                    <fa-icon icon="save"></fa-icon> <span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
