<div class="row justify-content-center">
    <div class="col-8">
        <form (ngSubmit)="save()" [formGroup]="editForm" name="editForm" novalidate role="form">
            <h2 id="jhi-tag-type-heading">{{ editForm.get('id')!.value !== undefined ? "Edit" : "Create" }}
                Tag Type</h2>

            <jhi-alert></jhi-alert>

            <div>
                <mat-form-field [hidden]="true" appearance="fill" class="form-group w-100">
                    <mat-label jhiTranslate="global.field.id"></mat-label>
                    <input formControlName="id" id="id" matInput name="id" readonly type="text"/>
                </mat-form-field>

                <mat-form-field appearance="fill" class="form-group w-100">
                    <mat-label>Name*</mat-label>
                    <input formControlName="name" id="field_name" matInput name="name" type="text"/>
                    <mat-error
                        *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <span *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </span>
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="form-group w-100">
                    <mat-label>Description*</mat-label>
                    <input formControlName="description" id="field_description" matInput name="description"
                           type="text"/>
                    <mat-error
                        *ngIf="editForm.get('description')!.invalid && (editForm.get('description')!.dirty || editForm.get('description')!.touched)">
                        This field is required.
                    </mat-error>
                </mat-form-field>
            </div>

            <div>
                <button (click)="previousState()" class="text-white" id="cancel-save" jhiMaterialColor="secondary"
                        mat-raised-button type="button">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button [disabled]="editForm.invalid || isSaving" class="text-white" id="save-entity"
                        jhiMaterialColor="primary" mat-raised-button type="submit">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
