<div fxLayout fxLayoutAlign="left left">
    <mat-form-field fxFlex="40%">
        <input (keyup)="filter($event)" matInput placeholder="Search" type="text">
    </mat-form-field>
</div>
<jhi-wrapper-material-table #sort="matSort" [columns]="displayedColumns"
                            [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="id">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>ID</th>
        <td *matCellDef="let element" mat-cell>
            <span>
                <a [routerLink]="['./', element.id, 'view']">{{ element.id }}</a>
            </span>
        </td>
    </ng-container>

    <ng-container matColumnDef="caption">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Caption</th>
        <td *matCellDef="let element" mat-cell>
            <span>
                {{ element.caption }}
            </span>
        </td>
    </ng-container>

    <ng-container matColumnDef="date">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Date</th>
        <td *matCellDef="let element" mat-cell>
            <span>
                {{ element.date }}
            </span>
        </td>
    </ng-container>

    <ng-container matColumnDef="recipeName">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Recipe Name</th>
        <td *matCellDef="let element" mat-cell>
            <span>
                {{ element.recipeName }}
            </span>
        </td>
    </ng-container>

    <ng-container matColumnDef="userLogin">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>User</th>
        <td *matCellDef="let element" mat-cell>
            <span>
                {{ element.userLogin }}
            </span>
        </td>
    </ng-container>

    <ng-container matColumnDef="status">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Status</th>
        <td *matCellDef="let element" mat-cell>
            <span>
                {{ element.status }}
            </span>
        </td>
    </ng-container>

    <ng-container class="text-right" matColumnDef="options">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Options</th>
        <td *matCellDef="let post" mat-cell>
            <div class="btn-group">
                <button [routerLink]="['/post', post.id, 'view']"
                        class="btn btn-info btn-sm"
                        type="submit">
                    <fa-icon icon="eye"></fa-icon>
                </button>

                <button [routerLink]="['/post', post.id, 'edit']"
                        class="btn btn-warning btn-sm"
                        type="submit">
                    <fa-icon icon="pencil-alt"></fa-icon>
                </button>

                <button (click)="managementComponent.delete(post)" class="btn btn-danger btn-sm"
                        type="submit">
                    <fa-icon icon="times"></fa-icon>
                </button>
            </div>
        </td>
    </ng-container>

    <!-- Custom row definitions to be provided to the wrapper table. -->
    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns; " mat-row></tr>
</jhi-wrapper-material-table>
<mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100]" [pageSize]="20"></mat-paginator>
