<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="bite">
            <h2><span jhiTranslate="shoppedApp.bite.detail.title">Bite</span> {{ bite.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="shoppedApp.bite.created">Created</span></dt>
                <dd>
                    <span>{{ bite.created }}</span>
                </dd>
                <dt><span jhiTranslate="shoppedApp.bite.status">Status</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'shoppedApp.Status.' + bite.status }}">{{ bite.status }}</span>
                </dd>
                <dt><span jhiTranslate="shoppedApp.bite.post">Post</span></dt>
                <dd>
                    <div *ngIf="bite.postId">
                        <a [routerLink]="['/post', bite.postId, 'view']">{{ bite.postId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="shoppedApp.bite.user">User</span></dt>
                <dd>
                    {{ bite.userLogin }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/bite', bite.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
