<div>
    <h2 id="page-heading">
        <span jhiTranslate="shoppedApp.ingredientTag.home.title">Ingredient Tags</span>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div *ngIf="ingredientTags && ingredientTags.length > 0" class="table-responsive table-hover" id="entities">
        <jhi-ingredient-tag-table [data]="ingredientTags" [managementComponent]="this"></jhi-ingredient-tag-table>
    </div>

    <div *ngIf="ingredientTags?.length === 0 || !ingredientTags" class="alert alert-warning" id="no-result">
        <span jhiTranslate="shoppedApp.ingredient.home.notFound">No Tag Types found</span>
    </div>

    <div class="w-100" fxLayout="row" fxLayoutAlign="space-around center">
        <mat-spinner *ngIf="!ingredientTags || ingredientTags.length == 0" diameter="50" strokeWidth="5"></mat-spinner>
    </div>
</div>
