<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <mat-card fxLayoutAlign="center left" fxLayout="column">
                <div>
                    <mat-card-header>
                        <h1 jhiTranslate="reset.request.title">Reset your password</h1>
                    </mat-card-header>
                    <mat-card-content>
                        <form *ngIf="!success" name="form" role="form" (ngSubmit)="requestReset()" [formGroup]="resetRequestForm">
                            <div class="form-group">
                                <mat-form-field appearance="fill" floatLabel="always">
                                    <mat-label class="form-control-label" for="email" jhiTranslate="global.form.email.label">Email</mat-label>
                                    <input matInput type="email" class="" id="email" name="email" placeholder="{{ 'global.form.email.placeholder' | translate }}"
                                           formControlName="email" #email>
                                    <mat-hint></mat-hint>
                                    <mat-error *ngIf="resetRequestForm.get('email')!.invalid && (resetRequestForm.get('email')!.dirty || resetRequestForm.get('email')!.touched)">
                                        <small class="form-text text-danger"
                                               *ngIf="resetRequestForm.get('email')?.errors?.required"
                                               jhiTranslate="global.messages.validate.email.required">
                                            Your email is required.
                                        </small>

                                        <small class="form-text text-danger"
                                               *ngIf="resetRequestForm.get('email')?.errors?.email"
                                               jhiTranslate="global.messages.validate.email.invalid">
                                            Your email is invalid.
                                        </small>

                                        <small class="form-text text-danger"
                                               *ngIf="resetRequestForm.get('email')?.errors?.minlength"
                                               jhiTranslate="global.messages.validate.email.minlength">
                                            Your email is required to be at least 5 characters.
                                        </small>

                                        <small class="form-text text-danger"
                                               *ngIf="resetRequestForm.get('email')?.errors?.maxlength"
                                               jhiTranslate="global.messages.validate.email.maxlength">
                                            Your email cannot be longer than 100 characters.
                                        </small>
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <button type="submit" [disabled]="resetRequestForm.invalid" class="btn btn-primary" jhiTranslate="reset.request.form.button">Reset</button>
                        </form>
                    </mat-card-content>
                </div>
                <mat-card-footer>
                    <jhi-alert-error></jhi-alert-error>

                    <div class="alert alert-warning" *ngIf="!success">
                        <span jhiTranslate="reset.request.messages.info">Enter the email address you used to register.</span>
                    </div>

                    <div class="alert alert-success" *ngIf="success">
                        <span jhiTranslate="reset.request.messages.success">Check your emails for details on how to reset your password.</span>
                    </div>
                </mat-card-footer>
            </mat-card>
        </div>
    </div>
</div>
