<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <mat-card fxLayoutAlign="center left" fxLayout="column" style="min-height: 350px">
                <div fxLayout.lt-sm="column" fxLayout="row">
                    <mat-card-header class="text-center w-100 my-3 mx-3"  fxLayoutAlign="center center">
                        <h1 jhiTranslate="reset.request.title">Reset your password</h1>
                    </mat-card-header>
                    <mat-card-content class="w-100" fxLayoutAlign="space-between" fxLayout="column">
                        <form *ngIf="!success" name="form" role="form" (ngSubmit)="requestReset()" [formGroup]="resetRequestForm">
                            <div class="form-group">
                                <mat-form-field appearance="fill" floatLabel="always" class="w-100">
                                    <mat-label class="form-control-label" for="email" jhiTranslate="global.form.email.label">Email</mat-label>
                                    <input matInput type="email" class="" id="email" name="email" placeholder="{{ 'global.form.email.placeholder' | translate }}"
                                           formControlName="email" #email>
                                    <mat-hint></mat-hint>
                                    <mat-icon matSuffix>email</mat-icon>
                                    <mat-error *ngIf="resetRequestForm.get('email')!.invalid && (resetRequestForm.get('email')!.dirty || resetRequestForm.get('email')!.touched)">
                                        <small class="form-text text-danger"
                                               *ngIf="resetRequestForm.get('email')?.errors?.required"
                                               jhiTranslate="global.messages.validate.email.required">
                                            Your email is required.
                                        </small>

                                        <small class="form-text text-danger"
                                               *ngIf="resetRequestForm.get('email')?.errors?.email"
                                               jhiTranslate="global.messages.validate.email.invalid">
                                            Your email is invalid.
                                        </small>

                                        <small class="form-text text-danger"
                                               *ngIf="resetRequestForm.get('email')?.errors?.minlength"
                                               jhiTranslate="global.messages.validate.email.minlength">
                                            Your email is required to be at least 5 characters.
                                        </small>

                                        <small class="form-text text-danger"
                                               *ngIf="resetRequestForm.get('email')?.errors?.maxlength"
                                               jhiTranslate="global.messages.validate.email.maxlength">
                                            Your email cannot be longer than 100 characters.
                                        </small>
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <button type="submit" mat-flat-button
                                    [disabled]="resetRequestForm.invalid"
                                    jhiMaterialColor="primary"
                                    jhiTranslate="reset.request.form.button">
                                Reset
                            </button>
                        </form>
                        <mat-card-footer class="mb-2 mt-4 mx-1">
                            <jhi-alert-error></jhi-alert-error>

                            <div class="alert alert-warning" *ngIf="!success">
                                <span jhiTranslate="reset.request.messages.info">Enter the email address you used to register.</span>
                            </div>

                            <div class="alert alert-success" *ngIf="success">
                                <span jhiTranslate="reset.request.messages.success">Check your emails for details on how to reset your password.</span>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="space-around center" class="w-100">
                                <mat-spinner *ngIf="requesting" diameter="50" strokeWidth="5"></mat-spinner>
                            </div>
                        </mat-card-footer>
                    </mat-card-content>
                </div>
            </mat-card>
        </div>
    </div>
</div>
