<div class="modal-header text-center">
    <h4 class="modal-title w-100 font-weight-bold"  jhiTranslate="login.title">Sign in</h4>

    <button aria-label="Close" data-dismiss="modal" class="close" type="button"
            (click)="activeModal.dismiss('closed')">
        <span aria-hidden="true">x</span>
    </button>
</div>

<div class="modal-body mx-3">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="alert alert-danger" *ngIf="authenticationError"
                 jhiTranslate="login.messages.error.authentication"
            >
                <strong>Failed to sign in!</strong> Please check your credentials and try again.
            </div>
        </div>

        <div class="col-md-8 justify-content-center">
            <form class="" role="form" (ngSubmit)="login()" [formGroup]="loginForm">
                <div class="">
                    <mat-form-field class="w-100">
                        <mat-label class="username-label" jhiTranslate="global.form.username.label">
                            Login
                        </mat-label>
                        <input matInput type="text" class="" name="username" id="username"
                               placeholder="{{ 'global.form.username.placeholder' | translate }}"
                               formControlName="username" #username>
                        <mat-icon matSuffix>how_to_reg</mat-icon>
                        <mat-hint align="end">Enter your username</mat-hint>
                    </mat-form-field>
                </div>

                <div class="">
                    <mat-form-field class="w-100">
                        <mat-label jhiTranslate="login.form.password">
                            Password
                        </mat-label>
                        <input matInput type="password" class="" name="password" id="password"
                               placeholder="{{ 'login.form.password.placeholder' | translate }}"
                               formControlName="password">
                        <mat-icon matSuffix>lock</mat-icon>
                        <mat-hint align="end">Enter your password</mat-hint>
                    </mat-form-field>
                </div>

                <div class="">
                    <label class="form-check-label" for="rememberMe">
                        <mat-checkbox class="" type="checkbox" name="rememberMe" id="rememberMe"
                                      formControlName="rememberMe">
                            <span jhiTranslate="login.form.rememberme">Remember me</span>
                        </mat-checkbox>
                    </label>
                </div>

                <div class="">
                    <button mat-raised-button type="submit" jhiMaterialColor="primary"
                            jhiTranslate="login.form.button">Sign in</button>
                </div>
            </form>

            <div class="mt-3 alert alert-warning">
                <a class="alert-link" (click)="requestResetPassword()"
                   jhiTranslate="login.password.forgot"
                >
                    Did you forget your password?
                </a>
            </div>

            <div class="alert alert-warning">
                <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>
                <a class="alert-link" (click)="register()" jhiTranslate="global.messages.info.register.link">Register a new account</a>
            </div>
        </div>
    </div>
</div>
